Repository williaby/PromptCraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit

black:
  name: black
  entry: poetry run black
  language: system

ruff:
  name: ruff
  entry: poetry run ruff check --fix
  language: system
  args:
  - --exit-non-zero-on-fix

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  args:
  - --config-file=pyproject.toml

bandit:
  name: bandit
  entry: poetry run bandit
  language: system
  args:
  - -c
  - pyproject.toml

fix: resolve test failures and add missing configuration fields
  src/config/settings.py
  src/ui/multi_journey_interface.py
Due: black, ruff, mypy, bandit

test: significantly improve test coverage for utility modules
  tests/unit/test_setup_validator.py
  tests/unit/test_time_utils.py
Due: black, ruff, bandit

Feature/phase 1 issue 5 gradio UI foundation (#210)
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
  src/config/settings.py
  src/ui/components/__init__.py
  src/ui/components/shared/__init__.py
  src/ui/components/shared/export_utils.py
  src/ui/journeys/__init__.py
  src/ui/journeys/journey1_smart_templates.py
  src/ui/multi_journey_interface.py
  test_remediation_fixes.py
  tests/integration/test_security_fixes.py
  tests/unit/test_setup_validator.py
  tests/unit/test_time_utils.py
Due: black, ruff, mypy, bandit

feat(auth): implement AUTH-1 Cloudflare Access JWT authentication foundation
  pyproject.toml
  src/auth/__init__.py
  src/auth/__pycache__/__init__.cpython-312.pyc
  src/auth/__pycache__/config.cpython-312.pyc
  src/auth/__pycache__/jwks_client.cpython-312.pyc
  src/auth/__pycache__/jwt_validator.cpython-312.pyc
  src/auth/__pycache__/middleware.cpython-312.pyc
  src/auth/__pycache__/models.cpython-312.pyc
  src/auth/config.py
  src/auth/jwks_client.py
  src/auth/jwt_validator.py
  src/auth/middleware.py
  src/auth/models.py
  tests/auth/__init__.py
  tests/auth/__pycache__/__init__.cpython-312.pyc
  tests/auth/__pycache__/test_auth_negative_paths.cpython-312-pytest-8.4.1.pyc
  tests/auth/__pycache__/test_jwks_caching.cpython-312-pytest-8.4.1.pyc
  tests/auth/__pycache__/test_jwt_validation.cpython-312-pytest-8.4.1.pyc
  tests/auth/test_auth_negative_paths.py
  tests/auth/test_jwks_caching.py
  tests/auth/test_jwt_validation.py
Due: black, ruff, mypy, bandit

fix(auth): resolve PR review issues for authentication module
  junit.xml
  poetry.lock
  pyproject.toml
  src/auth/config.py
  tests/auth/test_auth_negative_paths.py
  tests/auth/test_jwks_caching.py
  tests/auth/test_jwt_validation.py
Due: black, ruff, mypy, bandit

feat(auth): implement AUTH-1 Cloudflare Access JWT authentication fou… (#208)
  junit.xml
  poetry.lock
  pyproject.toml
  src/auth/__init__.py
  src/auth/__pycache__/__init__.cpython-312.pyc
  src/auth/__pycache__/config.cpython-312.pyc
  src/auth/__pycache__/jwks_client.cpython-312.pyc
  src/auth/__pycache__/jwt_validator.cpython-312.pyc
  src/auth/__pycache__/middleware.cpython-312.pyc
  src/auth/__pycache__/models.cpython-312.pyc
  src/auth/config.py
  src/auth/jwks_client.py
  src/auth/jwt_validator.py
  src/auth/middleware.py
  src/auth/models.py
  tests/auth/__init__.py
  tests/auth/__pycache__/__init__.cpython-312.pyc
  tests/auth/__pycache__/test_auth_negative_paths.cpython-312-pytest-8.4.1.pyc
  tests/auth/__pycache__/test_jwks_caching.cpython-312-pytest-8.4.1.pyc
  tests/auth/__pycache__/test_jwt_validation.cpython-312-pytest-8.4.1.pyc
  tests/auth/test_auth_negative_paths.py
  tests/auth/test_jwks_caching.py
  tests/auth/test_jwt_validation.py
Due: black, ruff, mypy, bandit

feat(ci): implement tiered testing for performance optimization
  .github/workflows/ci.yml
  CLAUDE.md
  Makefile
  pyproject.toml
Due: none

feat(testing): implement Codecov-enhanced test analysis system
  codecov_analysis.py
  coverage_by_test_type.py
  noxfile.py
  pyproject.toml
  quick_test_analysis.py
  test_composition_vs_coverage_analysis.md
  test_metrics_dashboard.py
  tests/performance/test_core_benchmarks.py
  tests/unit/test_hypothesis_validation.py
  tests/unit/test_jwt_validator_coverage.py
  tests/unit/test_parallel_retry_validation.py
  tests/unit/test_performance_config_coverage.py
  tests/unit/test_vector_store_core.py
Due: black, ruff, mypy, bandit

fix: requirements-docker.txt to reduce vulnerabilities
  requirements-docker.txt
Due: none

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Due: none

fix: requirements-dev.txt to reduce vulnerabilities
  requirements-dev.txt
Due: none

feat(testing): implement comprehensive test coverage analysis system
  .github/workflows/ci.yml
  .safety-project.ini
  .vscode/settings.json
  VS_CODE_TEST_SETUP_SUMMARY.md
  codecov.yml
  conftest.py
  coverage-auth.xml
  coverage-integration.xml
  coverage-unit.xml
  htmlcov-by-type/index.html
  htmlcov-by-type/test.html
  junit.xml
  poetry.lock
  scripts/generate_coverage_by_test_type.sh
  scripts/generate_test_type_coverage.py
  test_vscode_integration.py
Due: black, ruff, mypy, bandit

feat(testing): consolidate coverage reports into organized structure
  .gitignore
  .vscode/settings.json
  scripts/cleanup_coverage_files.py
  scripts/generate_test_type_coverage_clean.py
  tests/conftest.py
Due: black, ruff, mypy, bandit

feat(testing): implement automatic coverage report generation with VS Code integration
  docs/vscode-coverage-integration.md
  scripts/auto_coverage_report.py
  scripts/coverage_data_loader.py
  scripts/generate_test_coverage_fast.py
  scripts/html_renderer.py
  scripts/test_type_slicer.py
  scripts/vscode_coverage_hook.py
  scripts/vscode_coverage_integration.py
  tests/conftest.py
Due: black, ruff, mypy, bandit

feat(testing): implement enhanced path-based coverage analysis system
  .vscode/tasks.json
  docs/fast-coverage-workflow.md
  scripts/auto_coverage_report.py
  scripts/coverage_file_watcher.py
  scripts/enhanced_coverage_loader.py
  scripts/enhanced_path_coverage_analyzer.py
  scripts/fast_coverage_workflow.py
  scripts/fix_coverage_reports.py
  scripts/generate_test_type_coverage.py
  scripts/path_based_coverage_analyzer.py
  scripts/vscode_coverage_integration.py
Due: black, ruff, mypy, bandit

fix: complete pre-commit formatting cleanup
  noxfile.py
  src/config/health.py
  src/ui/components/shared/export_utils.py
  src/ui/journeys/journey1_smart_templates.py
  tests/examples/test_config_demo.py
  tests/examples/test_health_check_demo.py
  tests/examples/test_openrouter_client_demo.py
  tests/integration/test_query_counselor_hyde_integration.py
  tests/integration/test_real_mcp_integration.py
  tests/performance/test_production_readiness.py
  tests/unit/agents/examples/test_text_processor_agent.py
  tests/unit/agents/test_create_agent.py
  tests/unit/auth/test_config.py
  tests/unit/auth/test_jwks_client.py
  tests/unit/auth/test_middleware.py
  tests/unit/config/test_health.py
  tests/unit/core/test_create_processor_core.py
  tests/unit/core/test_vector_store.py
  tests/unit/test_jwt_validator_coverage.py
  tests/unit/test_noxfile.py
  tests/unit/test_performance_config_coverage.py
  tests/unit/utils/test_logging_mixin.py
Due: black, ruff, mypy, bandit

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

feat(testing): enhance coverage automation with modular architecture and VS Code integration
  scripts/coverage_automation/README.md
  scripts/coverage_automation/__init__.py
  scripts/coverage_automation/classifier.py
  scripts/coverage_automation/cli.py
  scripts/coverage_automation/config.py
  scripts/coverage_automation/logging_utils.py
  scripts/coverage_automation/renderer.py
  scripts/coverage_automation/security.py
  scripts/coverage_automation/types.py
  scripts/coverage_automation/watcher.py
  scripts/coverage_data_loader.py
  scripts/generate_test_coverage_fast.py
  scripts/path_based_coverage_analyzer.py
  scripts/simplified_coverage_automation.py
  scripts/vscode_coverage_integration_v2.py
  tests/unit/scripts/test_coverage_automation.py
Due: black, ruff, mypy, bandit

refactor(testing): comprehensive test suite optimization and cleanup
  codecov.yaml
  config/test_patterns.yaml
  pyproject.toml
  tests/auth/test_auth_negative_paths.py
  tests/conftest.py
  tests/conftest_backup.py
  tests/integration/test_hybrid_router_integration.py
  tests/integration/test_qdrant_vector_store_integration.py
  tests/unit/agents/test_create_agent.py
  tests/unit/auth/conftest.py
  tests/unit/auth/test_jwt_validator_comprehensive.py
  tests/unit/auth/test_jwt_validator_extended.py
  tests/unit/config/test_health.py
  tests/unit/core/test_create_processor_core.py
  tests/unit/core/test_hyde_processor_critical_gaps.py
  tests/unit/core/test_query_counselor_critical_gaps.py
  tests/unit/core/test_vector_store.py
  tests/unit/core/test_vector_store_critical_gaps.py
  tests/unit/scripts/test_coverage_automation.py
  tests/unit/test_agent_models.py
  tests/unit/test_base_agent.py
  tests/unit/test_create_processor_core_comprehensive.py
  tests/unit/test_main.py
  tests/unit/test_mcp_client_additional_coverage.py
  tests/unit/test_mcp_client_and_config_coverage.py
  tests/unit/test_mcp_client_coverage.py
  tests/unit/test_mcp_integration.py
  tests/unit/test_mcp_integration_coverage.py
  tests/unit/test_noxfile.py
  tests/unit/test_security_hardening.py
  tests/unit/test_vector_store_core.py
  tests/unit/ui/components/shared/conftest.py
  tests/unit/ui/journeys/test_journey1_smart_templates.py
  tests/unit/ui/test_multi_journey_interface.py
Due: black, ruff, bandit

feat(project): comprehensive codebase optimization and tooling improvements
  .mcp.json
  .mcp.json.backup
  DEPRECATED_FILES.md
  REFACTORING_SUMMARY.md
  coverage.json
  docs/vscode-coverage-integration-summary.md
  scripts/auto_update_coverage.py
  scripts/coverage_automation/README.md
  scripts/coverage_automation/__init__.py
  scripts/coverage_automation/classifier.py
  scripts/coverage_automation/cli.py
  scripts/coverage_automation/config.py
  scripts/coverage_automation/logging_utils.py
  scripts/coverage_automation/renderer.py
  scripts/coverage_automation/security.py
  scripts/coverage_automation/types.py
  scripts/coverage_automation/watcher.py
  scripts/coverage_data_loader.py
  scripts/generate_test_coverage_fast.py
  scripts/simplified_coverage_automation.py
  scripts/simplified_coverage_automation_v2.py
  scripts/test_type_slicer.py
  scripts/vscode_coverage_integration_v2.py
  src/agents/create_agent.py
  src/auth/jwt_validator.py
  src/auth/models.py
  src/config/health.py
  src/core/create_processor_core.py
  src/core/vector_store.py
  src/main.py
  src/mcp_integration/hybrid_router.py
  src/ui/components/shared/export_utils.py
  src/ui/journeys/journey1_smart_templates.py
  src/ui/multi_journey_interface.py
  test_consensus_model_connectivity.py
  test_css_injection.py
Due: black, ruff, mypy, bandit

feat: add comprehensive test coverage gap files and fix simplified report link
  coverage.json
  pyproject.toml.backup
  pytest.ini.backup
  tests/unit/agents/__init__.py
  tests/unit/agents/test_exceptions_coverage_gaps.py
  tests/unit/core/__init__.py
  tests/unit/core/test_performance_optimizer_coverage_gaps.py
  tests/unit/test_noxfile_coverage_gaps.py
  tests/unit/ui/__init__.py
  tests/unit/ui/test_multi_journey_interface_coverage_gaps.py
  tests/unit/utils/test_circuit_breaker_coverage_gaps.py
  tests/unit/utils/test_observability_coverage_gaps.py
  tests/unit/utils/test_secure_random_coverage_gaps.py
Due: black, ruff, bandit

fix: address security issues and code review feedback
  examples/health_check_demo.py
  noxfile.py
  tests/unit/auth/test_jwt_validator.py
Due: black, ruff, mypy, bandit

fix: sync requirements files with poetry.lock dependencies
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
Due: none

fix(security): optimize regex pattern to prevent ReDoS attacks
  src/ui/components/shared/export_utils.py
Due: black, ruff, mypy, bandit

fix(security): eliminate ReDoS risk by replacing regex with string operations
  src/ui/components/shared/export_utils.py
Due: black, ruff, mypy, bandit

security: comprehensive Semgrep security findings resolution
  scripts/auto_coverage_report.py
  scripts/auto_update_coverage.py
  scripts/coverage_file_watcher.py
  scripts/html_renderer.py
  scripts/test_type_slicer.py
  scripts/vscode_coverage_hook.py
  scripts/vscode_coverage_integration.py
  scripts/vscode_coverage_integration_v2.py
Due: black, ruff, mypy, bandit

fix(tests): update export_utils test to match secure ReDoS-resistant algorithm
  src/ui/components/shared/export_utils.py
  tests/unit/ui/components/shared/__init__.py
  tests/unit/ui/components/shared/test_export_utils.py
Due: black, ruff, mypy, bandit

fix(ci): resolve GitHub Actions test discovery issue
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
  src/auth/jwks_client.py
  src/auth/jwt_validator.py
  src/mcp_integration/hybrid_router.py
  src/mcp_integration/mcp_client.py
  src/mcp_integration/openrouter_client.py
  src/ui/journeys/journey1_smart_templates.py
  tests/unit/test_openrouter_client.py
Due: black, ruff, mypy, bandit

fix(tests): resolve noxfile test failures and generate requirements
  requirements-dev.txt
  tests/unit/test_noxfile_coverage_gaps.py
Due: black, ruff, bandit

fix(ci): resolve Python indentation error in coverage verification
  .github/workflows/ci.yml
Due: none

security: resolve all 52 Semgrep security findings via systematic remediation
  coverage.json
  examples/openrouter_client_demo.py
  scripts/auto_update_coverage.py
  scripts/check_deps.py
  scripts/coverage_data_loader.py
  scripts/html_renderer.py
  scripts/path_based_coverage_analyzer.py
  scripts/quality-gates.py
  scripts/test_type_slicer.py
  scripts/vscode_coverage_integration.py
  src/core/vector_store.py
  temp_cleanup/test_remediation_fixes.py
Due: black, ruff, mypy, bandit

security: comprehensive Semgrep security findings resolution
  scripts/auto_update_coverage.py
  scripts/coverage_automation/cli.py
  scripts/coverage_automation/renderer.py
  scripts/coverage_data_loader.py
  scripts/coverage_file_watcher.py
  scripts/enhanced_coverage_loader.py
  scripts/fast_coverage_workflow.py
  scripts/generate_test_type_coverage.py
  scripts/path_based_coverage_analyzer.py
  scripts/quality-gates.py
  scripts/simplified_coverage_automation.py
  scripts/test_type_slicer.py
  scripts/vscode_coverage_integration_v2.py
  temp_cleanup/test_vscode_integration.py
  tests/unit/auth/test_jwt_validator.py
Due: black, ruff, mypy, bandit

fix(ci): resolve comprehensive linting issues for clean CI build
  .markdownlint.json
  docs/CHANGELOG.md
  docs/vscode-coverage-integration-summary.md
  pyproject.toml
  tests/integration/test_query_counselor_hyde_integration.py
  tests/performance/test_production_readiness.py
  tests/unit/auth/test_jwt_validator.py
Due: black, ruff, bandit

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
  bandit: any of: \.py$
