Repository williaby/PromptCraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit

black:
  name: black
  entry: poetry run black
  language: system

ruff:
  name: ruff
  entry: poetry run ruff check --fix
  language: system
  args:
  - --exit-non-zero-on-fix

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  args:
  - --config-file=pyproject.toml

bandit:
  name: bandit
  entry: poetry run bandit
  language: system
  args:
  - -c
  - pyproject.toml

feat(auth): complete AUTH-3 integration with security and application layers
  .gitignore
  .mcp.json
  scripts/run_migration.py
  src/api/routers/create_core.py
  src/automation/token_rotation_scheduler.py
  src/main.py
  src/security/audit_logging.py
  src/security/error_handlers.py
  src/security/rate_limiting.py
  src/ui/components/shared/export_utils.py
Due: black, ruff, mypy, bandit

docs: finalize CLAUDE.md formatting and cleanup backup file
  CLAUDE.md
Due: none

feat: Add core task detection framework for dynamic function loading
  config/default.yaml
  config/monitoring_config.yaml
  src/core/dynamic_function_loader.py
  src/core/task_detection.py
  src/core/task_detection_config.py
  src/core/token_optimization_monitor.py
  tests/unit/test_dynamic_function_loader.py
  tests/unit/test_task_detection.py
Due: black, ruff, mypy, bandit

feat: Add user control system for dynamic function loading
  src/core/analytics_engine.py
  src/core/claude_integration.py
  src/core/help_system.py
  src/core/user_control_system.py
Due: black, ruff, mypy, bandit

feat: Add token optimization monitoring system
  config/monitoring_config.yaml
  src/core/token_optimization_monitor.py
Due: black, ruff, mypy, bandit

feat: Add configuration files for dynamic function loading system
  config/integrations_config.json
Due: none

feat: Add comprehensive test suite for dynamic function loading
  tests/integration/test_ab_testing_framework.py
  tests/integration/test_dynamic_loading_prototype.py
  tests/integration/test_fallback_system_integration.py
  tests/unit/test_dynamic_function_loader.py
  tests/unit/test_task_detection.py
Due: black, ruff, bandit

feat: Add supporting infrastructure for dynamic function loading system
  .claude/commands/function-loading-control.md
  analytics.db
  claude_code_function_inventory.md
  docs/DYNAMIC_FUNCTION_LOADING_PROTOTYPE.md
  docs/conservative_fallback_system.md
  docs/function-loading-user-control-system.md
  docs/task-detection-algorithm.md
  dynamic_loading_recommendations.md
  examples/fallback_system_demo.py
  examples/task_detection_integration.py
  function_inventory_spreadsheet.csv
  scripts/dynamic_loading_cli.py
  scripts/run_dynamic_function_loading_demo.py
  src/api/ab_testing_endpoints.py
  src/api/auth_endpoints.py
  src/api/dynamic_loading_endpoints.py
  src/core/ab_testing_framework.py
  src/core/comprehensive_prototype_demo.py
  src/core/conservative_fallback_chain.py
  src/core/dynamic_loading_integration.py
  src/core/fallback_circuit_breaker.py
  src/core/fallback_integration.py
  src/core/function_loading_demo.py
  tests/core/test_conservative_fallback_chain.py
Due: black, ruff, mypy, bandit

feat(testing): consolidate coverage system to single VS Code analyzer
  docs/testing/cleanup.md
  docs/testing/todo.md
  pyproject.toml
  scripts/auto_coverage_report.py
  scripts/auto_update_coverage.py
  scripts/coverage-report
  scripts/coverage_automation/README.md
  scripts/coverage_automation/__init__.py
  scripts/coverage_automation/classifier.py
  scripts/coverage_automation/cli.py
  scripts/coverage_automation/config.py
  scripts/coverage_automation/logging_utils.py
  scripts/coverage_automation/renderer.py
  scripts/coverage_automation/security.py
  scripts/coverage_automation/types.py
  scripts/coverage_automation/watcher.py
  scripts/coverage_data_loader.py
  scripts/coverage_file_watcher.py
  scripts/enhanced_coverage_loader.py
  scripts/enhanced_path_coverage_analyzer.py
  scripts/fast_coverage_workflow.py
  scripts/fix_coverage_reports.py
  scripts/generate_test_coverage_fast.py
  scripts/generate_test_type_coverage.py
  scripts/html_renderer.py
  scripts/path_based_coverage_analyzer.py
  scripts/simplified_coverage_automation.py
  scripts/simplified_coverage_automation_v2.py
  scripts/test_type_slicer.py
  scripts/vscode_coverage_analyzer.py
  scripts/vscode_coverage_hook.py
  scripts/vscode_coverage_integration.py
  scripts/vscode_coverage_integration_v2.py
Due: black, ruff, mypy, bandit

fix(style): apply black/ruff formatting to coverage analyzer
  scripts/vscode_coverage_analyzer.py
Due: black, ruff, mypy, bandit

fix: resolve all pre-commit linting issues for dynamic loading integration
  ab_testing.db
  analytics.db
  poetry.lock
  pytest_plugins/__init__.py
  pytest_plugins/coverage_hook_plugin.py
  scripts/vscode_coverage_analyzer.py
  src/api/ab_testing_endpoints.py
  src/api/dynamic_loading_endpoints.py
  src/core/ab_testing_framework.py
  src/core/comprehensive_prototype_demo.py
  src/core/dynamic_function_loader.py
  src/core/dynamic_loading_integration.py
  src/core/fallback_circuit_breaker.py
  src/core/help_system.py
  src/core/task_detection.py
  src/core/task_detection_config.py
  src/main.py
  src/security/audit_logging.py
  src/security/rate_limiting.py
  src/utils/observability.py
  tests/conftest.py
  tests/core/test_conservative_fallback_chain.py
  tests/integration/test_ab_testing_framework.py
  tests/integration/test_dynamic_loading_prototype.py
  tests/unit/core/test_claude_integration_basic.py
  tests/unit/core/test_function_loading_demo_basic.py
  tests/unit/core/test_help_system_basic.py
  tests/unit/core/test_vector_store_basic.py
  tests/unit/test_dynamic_function_loader.py
  tests/unit/test_jwt_validator_coverage.py
  tests/unit/test_task_detection.py
  tests/unit/ui/test_multi_journey_interface_basic.py
Due: black, ruff, mypy, bandit

feat(testing): consolidate coverage system to single VS Code analyzer
  ab_testing.db
  analytics.db
  coverage.json
  docs/vscode-coverage-integration.md
  scripts/clean_emoji_navigation.py
  scripts/cleanup_navigation_duplicates.py
  scripts/coverage-system-README.md
  scripts/coverage_data_loader.py
  scripts/generate_test_coverage_fast.py
  scripts/inject_navigation_links.py
  scripts/simplified_coverage_automation.py
  scripts/vscode_coverage_analyzer.py
  scripts/vscode_coverage_hook.py
Due: black, ruff, mypy, bandit

fix(coverage): restore missing HTML renderer and test type slicer modules
  .vscode/tasks.json
  scripts/html_renderer.py
  scripts/test_type_slicer.py
Due: black, ruff, mypy, bandit

feat(utils): add Python 3.10 datetime compatibility module
  src/utils/datetime_compat.py
  tests/unit/utils/test_datetime_compat.py
Due: black, ruff, mypy, bandit

feat(testing): consolidate coverage system to single VS Code analyzer
  coverage.json
  pytest_plugins/coverage_hook_plugin.py
  scripts/coverage_automation/__init__.py
  scripts/coverage_automation/__pycache__/__init__.cpython-311.pyc
  scripts/coverage_automation/__pycache__/classifier.cpython-311.pyc
  scripts/coverage_automation/__pycache__/cli.cpython-311.pyc
  scripts/coverage_automation/__pycache__/config.cpython-311.pyc
  scripts/coverage_automation/__pycache__/logging_utils.cpython-311.pyc
  scripts/coverage_automation/__pycache__/renderer.cpython-311.pyc
  scripts/coverage_automation/__pycache__/security.cpython-311.pyc
  scripts/coverage_automation/__pycache__/watcher.cpython-311.pyc
  scripts/coverage_automation/classifier.py
  scripts/coverage_automation/cli.py
  scripts/coverage_automation/config.py
  scripts/coverage_automation/logging_utils.py
  scripts/coverage_automation/renderer.py
  scripts/coverage_automation/security.py
  scripts/coverage_automation/watcher.py
  tests/unit/scripts/test_coverage_automation.py
Due: black, ruff, mypy, bandit

feat(api): enhance authentication and authorization endpoints
  src/api/ab_testing_endpoints.py
  src/api/auth_endpoints.py
  src/auth/role_manager.py
  src/auth/service_token_manager.py
  src/automation/token_rotation_scheduler.py
  tests/unit/api/__init__.py
  tests/unit/api/__pycache__/__init__.cpython-311.pyc
  tests/unit/api/__pycache__/test_ab_testing_endpoints.cpython-311-pytest-8.4.1.pyc
  tests/unit/api/__pycache__/test_auth_endpoints.cpython-311-pytest-8.4.1.pyc
  tests/unit/api/__pycache__/test_dynamic_loading_endpoints.cpython-311-pytest-8.4.1.pyc
  tests/unit/api/test_ab_testing_endpoints.py
  tests/unit/api/test_auth_endpoints.py
  tests/unit/api/test_dynamic_loading_endpoints.py
Due: black, ruff, mypy, bandit

feat(core): enhance system integrations and user controls
  src/core/ab_testing_framework.py
  src/core/claude_integration.py
  src/core/dynamic_loading_integration.py
  src/core/user_control_system.py
  src/core/vector_store.py
  src/core/zen_mcp_error_handling.py
Due: black, ruff, mypy, bandit

feat(tests): comprehensive testing infrastructure improvements
  tests/integration/test_ab_testing_framework.py
  tests/performance/test_core_benchmarks.py
  tests/unit/auth/conftest.py
  tests/unit/auth/test_exceptions.py
  tests/unit/auth/test_jwt_validator_comprehensive.py
  tests/unit/core/test_function_loading_demo_basic.py
  tests/unit/core/test_help_system_basic.py
  tests/unit/examples/__init__.py
  tests/unit/examples/__pycache__/__init__.cpython-311.pyc
  tests/unit/examples/__pycache__/test_fallback_system_demo.cpython-311-pytest-8.4.1.pyc
  tests/unit/examples/__pycache__/test_task_detection_integration.cpython-311-pytest-8.4.1.pyc
  tests/unit/examples/test_fallback_system_demo.py
  tests/unit/examples/test_task_detection_integration.py
Due: black, ruff, bandit

docs: update project documentation and configuration
  AGENTS.md
  CONTRIBUTING.md
  README.md
  examples/task_detection_integration.py
  pyproject.toml
Due: black, ruff, mypy, bandit

feat(infra): database schema and security infrastructure updates
  ab_testing.db
  analytics.db
  src/config/health.py
  src/database/models.py
  src/security/audit_logging.py
  src/ui/components/shared/export_utils.py
Due: black, ruff, mypy, bandit

style: apply formatting fixes to coverage automation
  scripts/coverage_automation/__init__.py
  scripts/coverage_automation/__pycache__/__init__.cpython-311.pyc
  scripts/coverage_automation/__pycache__/classifier.cpython-311.pyc
  scripts/coverage_automation/__pycache__/cli.cpython-311.pyc
  scripts/coverage_automation/__pycache__/config.cpython-311.pyc
  scripts/coverage_automation/__pycache__/renderer.cpython-311.pyc
  scripts/coverage_automation/__pycache__/security.cpython-311.pyc
  scripts/coverage_automation/__pycache__/watcher.cpython-311.pyc
  scripts/coverage_automation/classifier.py
  scripts/coverage_automation/cli.py
  scripts/coverage_automation/config.py
  scripts/coverage_automation/logging_utils.py
  scripts/coverage_automation/renderer.py
  scripts/coverage_automation/security.py
  scripts/coverage_automation/watcher.py
  tests/unit/scripts/test_coverage_automation.py
Due: black, ruff, mypy, bandit

feat(testing): enhance test infrastructure and coverage tracking
  .gitignore
  ab_testing.db
  analytics.db
  docs/testing/todo.md
  tests/performance/test_auth_middleware_database.py
Due: black, ruff, bandit

chore(git): stop tracking Python bytecode and __pycache__
  scripts/coverage_automation/__pycache__/__init__.cpython-311.pyc
  scripts/coverage_automation/__pycache__/classifier.cpython-311.pyc
  scripts/coverage_automation/__pycache__/cli.cpython-311.pyc
  scripts/coverage_automation/__pycache__/config.cpython-311.pyc
  scripts/coverage_automation/__pycache__/logging_utils.cpython-311.pyc
  scripts/coverage_automation/__pycache__/renderer.cpython-311.pyc
  scripts/coverage_automation/__pycache__/security.cpython-311.pyc
  scripts/coverage_automation/__pycache__/watcher.cpython-311.pyc
  tests/unit/api/__pycache__/__init__.cpython-311.pyc
  tests/unit/api/__pycache__/test_ab_testing_endpoints.cpython-311-pytest-8.4.1.pyc
  tests/unit/api/__pycache__/test_auth_endpoints.cpython-311-pytest-8.4.1.pyc
  tests/unit/api/__pycache__/test_dynamic_loading_endpoints.cpython-311-pytest-8.4.1.pyc
  tests/unit/examples/__pycache__/__init__.cpython-311.pyc
  tests/unit/examples/__pycache__/test_fallback_system_demo.cpython-311-pytest-8.4.1.pyc
  tests/unit/examples/__pycache__/test_task_detection_integration.cpython-311-pytest-8.4.1.pyc
Due: none

feat: enhance function loading demo error handling and expand test coverage
  ab_testing.db
  analytics.db
  src/core/function_loading_demo.py
  tests/unit/core/test_claude_integration.py
  tests/unit/core/test_connection_manager.py
  tests/unit/core/test_function_loading_demo.py
  tests/unit/utils/test_datetime_compat.py
Due: black, ruff, mypy, bandit

feat(ai-tools): add comprehensive AI tools integration and configuration
  .claude/settings.json
  .gemini/config.json
  .github/copilot.yml
  .openai/config.json
  .qwen/config.json
  QWEN.md
  docs/ai-tools-integration.md
  scripts/ai_tools_validator.py
  scripts/setup_ai_tools.sh
Due: black, ruff, mypy, bandit

feat(core): enhance Claude integration and test coverage
  .vscode/settings.json
  .vscode/tasks.json
  src/core/claude_integration.py
  tests/unit/core/test_claude_integration.py
  tests/unit/core/test_function_loading_demo.py
Due: black, ruff, mypy, bandit

data: update development databases with testing data
  ab_testing.db
  analytics.db
Due: none

fix(tools): apply final linting fixes to ai_tools_validator.py
  scripts/ai_tools_validator.py
Due: black, ruff, mypy, bandit

fix(ci): sync requirements files with poetry.lock to resolve PR validation
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
Due: none

security: fix log injection, SQL injection, and insecure MD5 usage
  migrations/002_add_auth3_rbac.py
  src/api/ab_testing_endpoints.py
  src/core/ab_testing_framework.py
Due: black, ruff, mypy, bandit

fix(git): exclude database files from version control to reduce repository size
  .gitignore
  ab_testing.db
  analytics.db
  metrics.db
Due: none

fix(ci): optimize GitHub Actions disk space usage to resolve Enhanced Setup failures
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/codespaces/devcontainer.json
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codespaces-prebuild.yml
  migrations/002_add_auth3_rbac.py
Due: black, ruff, mypy, bandit

feat(codespaces): add comprehensive GitHub Codespaces prebuild configuration
  migrations/002_add_auth3_rbac.py
  migrations/__init__.py
Due: black, ruff, mypy, bandit

fix(types): resolve critical MyPy and pre-commit hook issues
  src/api/ab_testing_endpoints.py
  src/api/auth_endpoints.py
  src/api/dynamic_loading_endpoints.py
  src/api/role_endpoints.py
  src/auth/jwt_validator.py
  src/auth/permissions.py
  src/auth/role_manager.py
  src/auth/service_token_manager.py
  src/core/ab_testing_framework.py
  src/core/analytics_engine.py
  src/core/claude_integration.py
  src/core/conservative_fallback_chain.py
  src/core/fallback_circuit_breaker.py
  src/core/fallback_integration.py
  src/core/help_system.py
  src/core/task_detection.py
  src/core/task_detection_config.py
  src/core/user_control_system.py
  src/core/zen_mcp_error_handling.py
  src/monitoring/__init__.py
  src/security/rate_limiting.py
Due: black, ruff, mypy, bandit

fix(types): resolve all 137 MyPy errors blocking CI quality check
  src/auth/permissions.py
  src/auth/service_token_manager.py
  src/automation/token_rotation_scheduler.py
  src/core/ab_testing_framework.py
  src/core/comprehensive_prototype_demo.py
  src/core/dynamic_function_loader.py
  src/core/dynamic_loading_integration.py
  src/core/function_loading_demo.py
  src/database/base_service.py
  src/database/models.py
Due: black, ruff, mypy, bandit

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
  bandit: any of: \.py$
