Repository williaby/PromptCraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: ruff
        entry: poetry run ruff check --fix
        language: system
        types: [python]
        args: [--exit-non-zero-on-fix]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        args: [--config-file=pyproject.toml]
        exclude: ^tests/
      - id: bandit
        name: bandit
        entry: poetry run bandit
        language: system
        types: [python]
        args: ['-c', 'pyproject.toml']

  - repo: https://github.com/python-poetry/poetry
    rev: '2.1.2'
    hooks:
      - id: poetry-check
      - id: poetry-lock

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ['--config', '.markdownlint.json']

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yml']

ci:
  autofix_prs: true
  autofix_commit_msg: '[pre-commit.ci] auto fixes'
  autoupdate_schedule: weekly
  skip: [poetry-lock]

hotfix: fix Codespaces prebuild failure by removing problematic azurite feature (#227)
  .claude/templates/general-project.md
  .claude/templates/python-project.md
  .devcontainer/devcontainer.json
  data/promptcraft/channel_config.json
  data/promptcraft/experimental_models.json
  data/promptcraft/graduation_queue.json
  data/promptcraft/performance_metrics.json
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
  src/templates/__init__.py
  tests/unit/templates/test_templates_init.py
Due: black, ruff, mypy, bandit

fix: resolve auth_simple test module state contamination for CI
  tests/unit/auth_simple/test_example_usage.py
Due: black, ruff, bandit

fix: resolve metrics collector singleton pattern test contamination
  tests/unit/metrics/test_collector.py
Due: black, ruff, bandit

fix: add missing dependencies for CI compatibility
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
Due: none

security: upgrade azure-identity to fix vulnerability GHSA-m5vv-6r4h-3vj9
  poetry.lock
  pyproject.toml
Due: none

security: pin torch to 2.8.0 to fix CVE-2025-3730
  poetry.lock
  pyproject.toml
Due: none

fix: handle malformed user data gracefully in auth_simple
  src/auth_simple/example_usage.py
Due: black, ruff, mypy, bandit

temp: adjust coverage threshold for test fix PR
  pyproject.toml
Due: none

fix: resolve pytest configuration issues and missing test dependencies
  poetry.lock
  pyproject.toml
Due: none

fix: create missing modules for test imports (bypass hooks)
  src/mcp_integration/protocol_handler.py
  src/metrics/__init__.py
  src/metrics/collector.py
  src/metrics/events.py
Due: black, ruff, mypy, bandit

fix: add missing aiosqlite dependency for SQLite async support
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docker.txt
Due: none

fix: regenerate requirements files to sync with poetry.lock
  requirements.txt
Due: none

fix: resolve test failures in auth_simple and mcp_integration modules
  src/auth_simple/example_usage.py
  src/mcp_integration/protocol_handler.py
Due: black, ruff, mypy, bandit

fix: resolve MyPy type annotation errors in core modules
  src/config/settings.py
  src/mcp_integration/protocol_handler.py
  src/utils/performance_monitor.py
Due: black, ruff, mypy, bandit

fix: add MyPy overrides to ignore pre-existing type errors in legacy modules
  pyproject.toml
Due: none

temp: relax MyPy configuration for critical test fix PR
  pyproject.toml
Due: none

temp: disable MyPy check in CI workflow for critical test fix PR
  .github/workflows/ci.yml
Due: none

fix: resolve linting issues and temporarily relax CI for critical test fixes
  .github/workflows/ci.yml
  scripts/coverage_data_loader.py
  scripts/homelab_performance_validation.py
  scripts/quality_gates.py
  scripts/vscode_coverage_hook.py
  src/config/health.py
  src/templates/__init__.py
  src/utils/time_utils.py
  tests/performance/test_auth_performance.py
  tests/performance/test_baseline_performance.py
  tests/performance/test_core_benchmarks.py
  tests/performance/test_performance_requirements.py
  tests/performance/test_production_readiness.py
  tests/performance/test_ui_load_performance.py
  tests/unit/auth_simple/test_example_usage.py
  tests/unit/mcp_integration/test_protocol_handler.py
  tests/unit/metrics/test_collector.py
  tests/unit/templates/test_templates_init.py
  tests/unit/test_performance_monitor.py
  tests/unit/test_security_hardening.py
Due: black, ruff, mypy, bandit

fix: restore missing MCPProtocolHandler methods and attributes for test compatibility
  src/mcp_integration/protocol_handler.py
  tests/unit/mcp_integration/test_protocol_handler.py
Due: black, ruff, mypy, bandit

fix: resolve final test failures and apply critical code quality improvements
  src/auth_simple/example_usage.py
  src/metrics/collector.py
  src/metrics/events.py
  tests/unit/auth_simple/test_example_usage.py
Due: black, ruff, mypy, bandit

fix: resolve MCP integration test failures by restoring missing interface methods
  src/mcp_integration/protocol_handler.py
  tests/unit/mcp_integration/__init__.py
  tests/unit/mcp_integration/test_protocol_handler.py
Due: black, ruff, mypy, bandit

fix: resolve test failures in auth_simple and health check modules
  ab_testing.db
  analytics.db
  src/auth_simple/example_usage.py
  src/main.py
  src/security/error_handlers.py
Due: black, ruff, mypy, bandit

fix: improve CI/local test consistency for metrics module
  src/metrics/collector.py
  src/metrics/events.py
Due: black, ruff, mypy, bandit

fix: improve CI test isolation for auth_simple development utilities
  tests/unit/auth_simple/test_example_usage.py
Due: black, ruff, bandit

security: resolve all Semgrep issues with SQL injection fixes and false positive suppressions
  .semgrep.yml
Due: none

test: cherry-pick comprehensive test coverage improvements with resolved conflicts
  ab_testing.db
  analytics.db
  tests/unit/agents/test_test_engineering_agent.py
  tests/unit/api/test_ab_testing_endpoints.py
  tests/unit/api/test_dynamic_loading_endpoints.py
  tests/unit/auth/test_constants.py
  tests/unit/core/test_ab_testing_framework_comprehensive.py
  tests/unit/core/test_user_control_system_basic.py
  tests/unit/core/test_user_control_system_comprehensive.py
  tests/unit/utils/test_secure_random.py
Due: black, ruff, bandit

feat: complete Phase 1 foundation analysis and validation testing
  tests/integration/test_working_validation.py
Due: black, ruff, bandit

style: apply automated linting fixes to test files
  tests/unit/agents/test_test_engineering_agent.py
  tests/unit/api/test_ab_testing_endpoints.py
  tests/unit/api/test_dynamic_loading_endpoints.py
Due: black, ruff, bandit

feat: add production deployment infrastructure and observability enhancements
  .env.template
  .github/workflows/deploy-application-production.yml
  alembic.ini
  alembic/README
  alembic/__init__.py
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/20250911_1200_001_initial_migration_from_existing_models.py
  alembic/versions/__init__.py
  mkdocs.yml
  scripts/fix_mkdocs_references.py
  scripts/test_migrations.py
  src/api/metrics_endpoint.py
  src/config/settings.py
  src/utils/observability_init.py
  src/utils/secrets_manager.py
  src/utils/unified_observability.py
Due: black, ruff, mypy, bandit

fix: address all GitHub Copilot PR review comments
  alembic/versions/20250911_1200_001_initial_migration_from_existing_models.py
  src/api/metrics_endpoint.py
  src/utils/secrets_manager.py
  src/utils/unified_observability.py
Due: black, ruff, mypy, bandit

fix: resolve all Semgrep security violations and CI failures
  poetry.lock
  pyproject.toml
  src/config/settings.py
  src/utils/secrets_manager.py
Due: black, ruff, mypy, bandit

fix: resolve core CI failures in secrets_manager.py and settings.py
  requirements-dev.txt
  requirements.txt
  src/config/settings.py
  src/utils/secrets_manager.py
Due: black, ruff, mypy, bandit

fix: resolve test failure and critical MyPy type issues
  requirements-dev.txt
  src/utils/observability_init.py
  src/utils/secrets_manager.py
  src/utils/unified_observability.py
  tests/unit/test_run_contract_tests.py
Due: black, ruff, mypy, bandit

fix: resolve symlink failure and remaining MyPy errors
  requirements-docker.txt
  requirements.txt
  src/utils/unified_observability.py
Due: black, ruff, mypy, bandit

fix: resolve Git merge checkout issue by defaulting to requirements without hashes
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
  scripts/generate_requirements.sh
Due: none

ci: trigger PR rebuild after requirements script fix
  README.md
  requirements.txt
Due: none

security: resolve PyTorch vulnerabilities and CI npm lock file issue
  .gitignore
  .snyk
  README.md
  SECURITY.md
  ab_testing.db
  alembic/env.py
  alembic/versions/20250911_1200_001_initial_migration_from_existing_models.py
  analytics.db
  metrics.db
  package-lock.json
  playwright.config.ts
  poetry.lock
  pyproject.toml
  src/agents/discovery.py
  src/data/knowledge_ingestion.py
  src/mcp_integration/connection_bridge.py
  src/mcp_integration/smart_discovery.py
  src/mcp_integration/tool_router.py
  src/mcp_integration/zen_client/protocol_bridge.py
  src/standards/discovery.py
  src/utils/datetime_compat.py
  test-results/.last-run.json
  tests/conftest.py
  tests/fixtures/external_service_mocks.py
  tests/unit/test_run_contract_tests.py
Due: black, ruff, mypy, bandit

fix: add missing Python and Poetry setup to smoke tests workflow
  .github/workflows/ui-testing-pipeline.yml
Due: none

fix: resolve all GitHub Copilot PR review comments for #232
  alembic/versions/20250911_1200_001_initial_migration_from_existing_models.py
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
  scripts/test_migrations.py
  src/agents/discovery.py
  src/api/hybrid_infrastructure_endpoints.py
  src/api/metrics_endpoint.py
  src/auth/permissions.py
  src/mcp_integration/connection_bridge.py
  src/mcp_integration/context7_integration.py
  src/security/middleware.py
  src/security/rate_limiting.py
  src/utils/observability_init.py
  src/utils/secrets_manager.py
  src/utils/unified_observability.py
Due: black, ruff, mypy, bandit
