Repository williaby/PromptCraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit

black:
  name: black
  entry: poetry run black
  language: system

ruff:
  name: ruff
  entry: poetry run ruff check --fix
  language: system
  args:
  - --exit-non-zero-on-fix

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  args:
  - --config-file=pyproject.toml

bandit:
  name: bandit
  entry: poetry run bandit
  language: system
  args:
  - -c
  - pyproject.toml

fix(ci): configure CodeQL workflow for all feature branches
  .github/workflows/codeql.yml
Due: none

feat(ci): Complete comprehensive testing infrastructure for Phase 1 Issue CI-11 (#197)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .markdownlintignore
  .mutmut_config
  .pre-commit-config.yaml
  .serena/cache/python/document_symbols_cache_v23-06-25.pkl
  codecov.yaml
  config/dast-config.yaml
  config/testing-schedule.json
  docs/codecov-integration.md
  docs/testing/local-execution-guide.md
  docs/testing/quick-reference.md
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
  scripts/quality-gates.py
  scripts/schedule-manager.py
  src/config/health.py
  tests/conftest.py
  tests/contract/__init__.py
  tests/contract/test_mcp_contracts.py
  tests/performance/__init__.py
  tests/performance/locustfile.py
  tests/performance/performance_config.py
  tests/unit/test_edge_cases_parametrized.py
Due: black, ruff, mypy, bandit

feat: comprehensive linting cleanup and quality improvements
  .claude/commands/migration-knowledge-file.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/security-exceptions.yml
  .github/workflows/pr-validation.yml
  .github/workflows/renovate-auto-merge.yml
  .github/workflows/scorecard.yml
  .github/workflows/security-scan-summary.yml
  .github/workflows/setup-assured-oss.yml
  .serena/cache/python/document_symbols_cache_v23-06-25.pkl
  README.md
  docs/codecov-integration.md
  docs/index.md
  docs/security/codeql-historical-gap-analysis.md
  docs/security/codeql-python-scanning-guide.md
  docs/security/deployment-announcement.md
  docs/security/gradual-rollout-guide.md
  docs/security/security-gates-guide.md
  docs/testing/local-execution-guide.md
  docs/testing/quick-reference.md
  docs/usage-guide.md
  knowledge/create_agent/07_evaluation-toolkit.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  requirements.txt
  src/agents/base_agent.py
  src/utils/encryption.py
  src/utils/setup_validator.py
Due: black, ruff, mypy, bandit

fix: resolve poetry lock synchronization and update requirements
  .github/PULL_REQUEST_TEMPLATE.md
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
Due: none

fix(workflow): update prepare-pr workflow Poetry commands
  .claude/commands/workflow-prepare-pr.md
Due: none

🔧 Comprehensive Linting Cleanup and Quality Infrastructure (#198)
  .claude/commands/migration-knowledge-file.md
  .claude/commands/workflow-prepare-pr.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/security-exceptions.yml
  .github/workflows/pr-validation.yml
  .github/workflows/renovate-auto-merge.yml
  .github/workflows/scorecard.yml
  .github/workflows/security-scan-summary.yml
  .github/workflows/setup-assured-oss.yml
  .serena/cache/python/document_symbols_cache_v23-06-25.pkl
  README.md
  docs/codecov-integration.md
  docs/index.md
  docs/security/codeql-historical-gap-analysis.md
  docs/security/codeql-python-scanning-guide.md
  docs/security/deployment-announcement.md
  docs/security/gradual-rollout-guide.md
  docs/security/security-gates-guide.md
  docs/testing/local-execution-guide.md
  docs/testing/quick-reference.md
  docs/usage-guide.md
  knowledge/create_agent/07_evaluation-toolkit.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
  src/agents/base_agent.py
  src/utils/encryption.py
  src/utils/setup_validator.py
Due: black, ruff, mypy, bandit

feat(agents): Complete Phase 1 Issue NEW-9 Agent System Foundation hardening
  coverage.json
  docs/agent_extension_guidelines.md
  docs/agent_registration_best_practices.md
  docs/phase-1-issue-NEW-9-completion-summary.md
  pyproject.toml
  src/agents/base_agent.py
  src/agents/examples/__init__.py
  src/agents/examples/text_processor_agent.py
  src/agents/exceptions.py
  src/agents/models.py
  src/agents/registry.py
  src/utils/observability.py
  tests/conftest.py
  tests/integration/test_agent_lifecycle.py
  tests/unit/test_agent_models.py
  tests/unit/test_agent_performance.py
  tests/unit/test_agent_registry.py
  tests/unit/test_base_agent.py
  tests/unit/test_error_boundary_conditions.py
  tests/unit/test_final_coverage_boost.py
  tests/unit/test_final_coverage_push.py
  tests/unit/test_registry_collision_scenarios.py
Due: black, ruff, mypy, bandit

fix: resolve test failures and improve coverage for agent system
  tests/integration/test_agent_lifecycle.py
  tests/unit/test_agent_performance.py
  tests/unit/test_coverage_boost_final.py
  tests/unit/test_final_80_push.py
Due: black, ruff, bandit

fix(tests): resolve CI test failures and improve coverage to 78.23%
  pyproject.toml
  tests/contract/test_mcp_contracts.py
  tests/unit/test_final_80_push.py
Due: black, ruff, bandit

test: comprehensive coverage boost to reach 80% threshold
  tests/unit/test_final_coverage_80.py
Due: black, ruff, bandit

feat(ci): implement Phase 1A/1B - Codecov test analytics integration
  .github/workflows/ci.yml
  pyproject.toml
Due: none

feat(tests): achieve 98.43% coverage for TextProcessorAgent and 100% for CreateAgent
  tests/unit/test_create_agent.py
  tests/unit/test_text_processor_comprehensive.py
Due: black, ruff, bandit

fix(ci): resolve Codecov JUnit XML parser warning by improving format
  .github/workflows/ci.yml
  junit.xml
  pyproject.toml
Due: none

fix(type): complete mypy type error resolution across all agent system files
  src/agents/examples/text_processor_agent.py
  src/agents/exceptions.py
  src/agents/registry.py
  src/utils/observability.py
Due: black, ruff, mypy, bandit

fix: resolve critical linting issues B904, G004, UP038, S110
  src/agents/base_agent.py
  src/agents/examples/text_processor_agent.py
  src/agents/exceptions.py
  src/agents/registry.py
  src/utils/observability.py
Due: black, ruff, mypy, bandit

fix: resolve LogRecord KeyError and add missing type annotations
  junit.xml
  src/agents/exceptions.py
Due: black, ruff, mypy, bandit

fix: update logging tests and resolve linting issues
  junit.xml
  tests/unit/test_agent_registry.py
  tests/unit/test_base_agent.py
Due: black, ruff, bandit

fix(ci): resolve mypy type installation workflow failures
  .github/workflows/ci.yml
  junit.xml
  src/agents/base_agent.py
  src/agents/examples/text_processor_agent.py
  src/agents/registry.py
  src/utils/observability.py
  tests/unit/test_agent_models.py
  tests/unit/test_error_boundary_conditions.py
  tests/unit/test_final_coverage_boost.py
  tests/unit/test_registry_collision_scenarios.py
Due: black, ruff, mypy, bandit

fix(ci): force fresh CodeQL analysis to resolve stalled required check
  .github/workflows/codeql.yml
Due: none

Phase 1 Issue NEW-9: Agent System Foundation Hardening (#199)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  coverage.json
  docs/agent_extension_guidelines.md
  docs/agent_registration_best_practices.md
  docs/phase-1-issue-NEW-9-completion-summary.md
  junit.xml
  pyproject.toml
  src/agents/base_agent.py
  src/agents/examples/__init__.py
  src/agents/examples/text_processor_agent.py
  src/agents/exceptions.py
  src/agents/models.py
  src/agents/registry.py
  src/utils/observability.py
  tests/conftest.py
  tests/contract/test_mcp_contracts.py
  tests/integration/test_agent_lifecycle.py
  tests/unit/test_agent_models.py
  tests/unit/test_agent_performance.py
  tests/unit/test_agent_registry.py
  tests/unit/test_base_agent.py
  tests/unit/test_coverage_boost_final.py
  tests/unit/test_create_agent.py
  tests/unit/test_error_boundary_conditions.py
  tests/unit/test_final_80_push.py
  tests/unit/test_final_coverage_80.py
  tests/unit/test_final_coverage_boost.py
  tests/unit/test_final_coverage_push.py
  tests/unit/test_registry_collision_scenarios.py
  tests/unit/test_text_processor_comprehensive.py
Due: black, ruff, mypy, bandit

fix(ci): remove matrix strategy from CodeQL to match required check name
  .github/workflows/codeql.yml
Due: none

style: final Black formatting fix for edge case test
  .claude/commands/workflow-implementation.md
  .claude/commands/workflow-review-cycle.md
  .github/workflows/ci.yml
  pyproject.toml
  tests/unit/test_edge_cases_parametrized.py
Due: black, ruff, bandit

✨ Issue #9: Complete Agent System Foundation Hardening (#200)
  .claude/commands/workflow-implementation.md
  .claude/commands/workflow-review-cycle.md
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  pyproject.toml
  tests/unit/test_edge_cases_parametrized.py
Due: black, ruff, bandit

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Due: none

fix: resolve Codecov JUnit XML parsing issue with long test names
  junit.xml
  src/utils/observability.py
  tests/conftest.py
Due: black, ruff, mypy, bandit

🔧 Issue #9 Final Refinements: Core System Polish
  examples/vector_store_usage.py
  junit.xml
  performance_validation_test.py
  run_integration_test.py
  run_test.py
  src/core/hyde_processor.py
  src/core/performance_optimizer.py
  src/core/query_counselor.py
  src/core/vector_store.py
  src/mcp_integration/mcp_client.py
  test_performance_quick.py
  test_runner.py
  tests/integration/test_comprehensive_error_handling.py
  tests/integration/test_end_to_end_integration.py
  tests/integration/test_mcp_config_integration.py
  tests/integration/test_qdrant_vector_store_integration.py
  tests/integration/test_query_counselor_hyde_integration.py
  tests/integration/test_real_qdrant_integration.py
  tests/integration/test_vector_store_integration.py
  tests/performance/test_production_readiness.py
  tests/unit/test_base_agent_comprehensive.py
  tests/unit/test_config_management.py
  tests/unit/test_create_processor_core_comprehensive.py
  tests/unit/test_hyde_processor.py
  tests/unit/test_parallel_executor_comprehensive.py
  tests/unit/test_query_counselor.py
  tests/unit/test_vector_store.py
Due: black, ruff, mypy, bandit

fix: address core import errors and type checking issues
  src/config/health.py
  src/core/hyde_processor.py
  src/core/performance_optimizer.py
  src/core/query_counselor.py
  src/core/vector_store.py
  src/core/zen_mcp_error_handling.py
Due: black, ruff, mypy, bandit

fix: suppress PLC0415 for intentional optional dependency imports
  junit.xml
  src/config/health.py
  src/core/performance_optimizer.py
  src/core/query_counselor.py
  src/core/vector_store.py
  src/core/zen_mcp_error_handling.py
  src/mcp_integration/mcp_client.py
Due: black, ruff, mypy, bandit

fix: complete CI error resolution for mypy and test compatibility
  junit.xml
  src/core/performance_optimizer.py
Due: black, ruff, mypy, bandit

fix: add missing MCPAuthenticationError and MCPValidationError classes
  src/mcp_integration/mcp_client.py
Due: black, ruff, mypy, bandit

fix: resolve test failures and Pydantic V2 compatibility issues
  junit.xml
  src/core/query_counselor.py
  tests/unit/test_hyde_processor.py
  tests/unit/test_query_counselor.py
  tests/unit/test_vector_store.py
Due: black, ruff, mypy, bandit

fix: resolve additional test failures and improve vector store implementation
  src/core/performance_optimizer.py
  src/core/vector_store.py
  tests/unit/test_vector_store.py
Due: black, ruff, mypy, bandit

fix: resolve CI workflow validation issues and test failures
  src/core/performance_optimizer.py
  src/core/query_counselor.py
  tests/unit/test_query_counselor.py
Due: black, ruff, mypy, bandit

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
  bandit: any of: \.py$
