Repository williaby/PromptCraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, ruff-datetime-check, mypy, bandit

black:
  name: black
  entry: poetry run black
  language: system
  args:
  - --check
  - --config=pyproject.toml

ruff:
  name: ruff
  entry: poetry run ruff check
  language: system
  args:
  - --config=pyproject.toml
  - --no-cache

ruff-datetime-check:
  name: ruff-datetime-check
  entry: poetry run ruff check
  language: system
  args:
  - --select=DTZ005
  - --config=pyproject.toml
  - --no-cache

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  args:
  - src
  - --config-file=pyproject.toml
  - --cache-dir=.mypy_cache
  pass_filenames: false

bandit:
  name: bandit
  entry: poetry run bandit
  language: system
  args:
  - -r
  - src
  - -c
  - pyproject.toml
  pass_filenames: false

fix: resolve 10 critical test failures with comprehensive fixes
  CLAUDE.md
  test-results/.last-run.json
  test-results/results.json
  tests/integration/test_auth_integration.py
  tests/integration/test_hybrid_routing_integration.py
  tests/unit/api/test_hybrid_infrastructure_endpoints.py
  tests/unit/auth/test_middleware.py
  tests/unit/auth/test_models_enhanced.py
  tests/unit/core/test_ab_testing_framework_comprehensive.py
  tests/unit/security/test_rate_limiting_comprehensive.py
Due: black, ruff, mypy, bandit

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Due: none

fix: requirements-docker.txt to reduce vulnerabilities
  requirements-docker.txt
Due: none

chore(standards): align project with global Claude Code v1.4.0 standards
  .claude/rules/README.md
  .claude/rules/git-workflow.md
  .claude/rules/knowledge-base.md
  .claude/rules/pre-commit.md
  .claude/rules/python.md
  .claude/rules/testing.md
  .claude/rules/writing.md
  .claude/settings.json
  CHANGELOG.md
  CLAUDE.md
  docs/agents/AGENTS.md
  docs/agents/QWEN.md
  docs/architecture/basedpyright-migration.md
  docs/known-vulnerabilities.md
Due: none

chore(standards): complete compliance followups
  .claude/commands/shared/model_utils.sh
  .claude/commands/verify-assumptions-smart.md
  .claude/rules/python.md
  .claude/standards/git-workflow.md
  .claude/standards/linting.md
  .claude/standards/python.md
  .claude/standards/security.md
  CLAUDE.md
  docs/known-vulnerabilities.md
Due: none

chore(mcp): remove project-level Zen MCP; rely on global configuration
  .gitmodules
  .mcp/servers/core.json
Due: none

chore(claude): prune duplicate commands and orphaned MCP scripts
  .claude/commands/creation-planning-doc.md
  .claude/commands/list-assumptions.md
  .claude/commands/meta-fix-links.md
  .claude/commands/quality-format-code.md
  .claude/commands/quality-lint-check.md
  .claude/commands/quality-lint-document.md
  .claude/commands/quality-precommit-validate.md
  .claude/commands/security-validate-env.md
  .claude/commands/security.md
  .claude/commands/test-rad.md
  .claude/commands/testing.md
  .claude/commands/validation-lint-doc.md
  .claude/commands/validation-precommit.md
  .claude/commands/verify-assumptions-smart.md
  .claude/commands/workflow-git-helpers.md
  .claude/commands/workflow-implementation.md
  .claude/commands/workflow-plan-validation.md
  .claude/commands/workflow-pr-review.md
  .claude/commands/workflow-prepare-pr.md
  .claude/commands/workflow-scope-analysis.md
  .claude/commands/workflow-validate-test-coverage.md
  .claude/scripts/analyze-mcp-usage.sh
  .claude/scripts/check-mcp-env.sh
  .claude/scripts/mcp-config-to-commands.py
  .claude/scripts/mcp-manager.sh
  .claude/scripts/setup-project-mcp.sh
  .claude/scripts/test-mcp-servers.sh
  .claude/scripts/track-mcp-usage.sh
  .claude/scripts/validate-mcp-env.sh
  CLAUDE.md
Due: black, ruff, mypy, bandit

docs(architecture): capture v1.4.0 alignment backlog
  docs/architecture/v1.4.0-alignment-backlog.md
Due: none

docs: address PR #250 review findings on cross-doc consistency
  CLAUDE.md
  docs/architecture/basedpyright-migration.md
  docs/architecture/v1.4.0-alignment-backlog.md
  docs/known-vulnerabilities.md
Due: none

docs(rules): list real pre-commit hook set in gate checklist
  .claude/rules/pre-commit.md
Due: none

fix(commands): remove unreachable fallback block in zen_mcp_consensus
  .claude/commands/shared/model_utils.sh
Due: none

docs(agents): wrap AGENTS.md:6 and QWEN.md:35 under 120 chars
  docs/agents/AGENTS.md
  docs/agents/QWEN.md
Due: none

test: remove stale core.json assertion from integration test
  tests/integration/test_hybrid_infrastructure.py
Due: black, ruff, mypy, bandit

fix(tests): make test_path_handling portable across CI environments
  tests/unit/test_run_contract_tests.py
Due: black, ruff, mypy, bandit

fix(types): resolve mypy errors and ruff violations across infrastructure modules
  poetry.lock
  pyproject.toml
  src/agents/discovery.py
  src/api/hybrid_infrastructure_endpoints.py
  src/mcp_integration/config_manager.py
  src/mcp_integration/connection_bridge.py
  src/mcp_integration/smart_discovery.py
  src/mcp_integration/zen_client/protocol_bridge.py
  src/standards/discovery.py
  src/utils/datetime_compat.py
Due: black, ruff, ruff-datetime-check, mypy, bandit

chore(deps): regenerate requirements files after poetry.lock update
  requirements-docker.txt
  requirements.txt
Due: none

fix(mcp): resolve SonarCloud S7503/S7487 async violations in discovery and bridge
  src/mcp_integration/connection_bridge.py
  src/mcp_integration/smart_discovery.py
Due: black, ruff, ruff-datetime-check, mypy, bandit

fix(types): resolve 29 pre-existing MyPy errors across 9 files
  src/auth/permissions.py
  src/auth_simple/config.py
  src/auth_simple/middleware.py
  src/mcp_integration/context7_integration.py
  src/mcp_integration/mcp_orchestrator.py
  src/mcp_integration/message_router.py
  src/security/middleware.py
  src/security/rate_limiting.py
  src/ui/admin/tier_management_interface.py
Due: black, ruff, ruff-datetime-check, mypy, bandit

fix(types): resolve 6 remaining MyPy errors in middleware, message_router, and tier UI
  src/auth_simple/middleware.py
  src/mcp_integration/message_router.py
  src/ui/admin/tier_management_interface.py
Due: black, ruff, ruff-datetime-check, mypy, bandit

fix(lint): add .claude/ to ruff exclude; fix pre-commit and yamllint config
  .pre-commit-config.yaml
  .yamllint.yml
  pyproject.toml
Due: none

fix(config): resolve yamllint indentation and markdownlint blank-line errors
  .github/workflows/auth-service-token-example.yml
  config/default.yaml
  tests/contract/README.md
Due: none

fix(api): restore request parameter names for slowapi rate-limiting
  src/api/ab_testing_endpoints.py
  src/api/auth_endpoints.py
  src/api/dynamic_loading_endpoints.py
  src/api/role_endpoints.py
  src/auth_simple/example_usage.py
  src/main.py
Due: black, ruff, ruff-datetime-check, mypy, bandit

fix(hooks): correct hookimpl signature, fix mypy narrowing, remove UP036 dead code
  pytest_plugins/coverage_hook_plugin.py
  src/utils/observability.py
  src/utils/setup_validator.py
Due: black, ruff, ruff-datetime-check, mypy, bandit

fix(tests): update assertions for UP036 runtime version check removal
  tests/unit/test_pytest_plugins_coverage_hook.py
  tests/unit/test_setup_validator.py
Due: black, ruff, mypy, bandit

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  ruff-datetime-check: any of: ^src/ and \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
