Repository williaby/PromptCraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: ruff
        entry: poetry run ruff check --fix
        language: system
        types: [python]
        args: [--exit-non-zero-on-fix]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        args: [--config-file=pyproject.toml]
        exclude: ^tests/
      - id: bandit
        name: bandit
        entry: poetry run bandit
        language: system
        types: [python]
        args: ['-c', 'pyproject.toml']

  - repo: https://github.com/python-poetry/poetry
    rev: '2.1.2'
    hooks:
      - id: poetry-check
      - id: poetry-lock

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ['--config', '.markdownlint.json']

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yml']

ci:
  autofix_prs: true
  autofix_commit_msg: '[pre-commit.ci] auto fixes'
  autoupdate_schedule: weekly
  skip: [poetry-lock]

fix(mypy): resolve import error with TYPE_CHECKING and linting fixes
  src/automation/__init__.py
  src/automation/token_rotation_scheduler.py
Due: black, ruff, mypy, bandit

fix(ci): resolve MyPy module resolution error with mypy_path configuration
  pyproject.toml
Due: none

chore(deps): update requirements-dev.txt with platform condition reordering
  requirements-dev.txt
Due: none

fix(deps): synchronize requirements files with poetry.lock for CI compatibility
  requirements-dev.txt
  requirements.txt
Due: none

fix(deps): synchronize requirements files with poetry.lock using hash verification
  requirements-dev.txt
  requirements.txt
  scripts/service_token_management.py
  src/api/auth_endpoints.py
  src/auth/middleware.py
  src/database/models.py
Due: black, ruff, mypy, bandit

fix(linting): suppress false positive linting warnings for Pydantic validators
  src/auth/models.py
  src/auth/service_token_manager.py
  src/automation/token_rotation_scheduler.py
Due: black, ruff, mypy, bandit

fix(security): resolve Semgrep security findings and Copilot review comments
  src/automation/token_rotation_scheduler.py
Due: black, ruff, mypy, bandit

fix(automation): add graceful shutdown mechanism to token rotation daemon
  src/automation/token_rotation_scheduler.py
Due: black, ruff, mypy, bandit

fix(security): resolve Semgrep logging security findings in token rotation scheduler
  src/automation/token_rotation_scheduler.py
Due: black, ruff, mypy, bandit

fix(tests): enhance timezone handling tests to address Copilot AI suggestions
  tests/unit/database/test_models.py
Due: black, ruff, bandit

fix(tests): add remaining security linting suppressions for legitimate test data
  tests/unit/database/test_models.py
Due: black, ruff, bandit

security: complete Semgrep credential disclosure prevention
  src/automation/token_rotation_scheduler.py
Due: black, ruff, mypy, bandit

fix(types): resolve MyPy import error with Python 3.10 compatibility
  src/auth/middleware.py
Due: black, ruff, mypy, bandit

fix(deps): synchronize requirements-dev.txt platform conditions with poetry.lock
  requirements-dev.txt
Due: none

security: resolve Semgrep credential disclosure findings in token rotation scheduler
  src/automation/token_rotation_scheduler.py
Due: black, ruff, mypy, bandit

security: properly resolve Semgrep credential disclosure with 'rotation target' terminology
  src/automation/token_rotation_scheduler.py
Due: black, ruff, mypy, bandit

fix(deps): resolve Python 3.10 CI environment requirements ordering discrepancy
  poetry.lock
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
Due: none

fix(ci): normalize platform markers to resolve PR validation failures
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
  scripts/generate_requirements.sh
Due: none

fix(ci): implement comprehensive NVIDIA CUDA package retry logic for Quality Checks
  .github/workflows/ci.yml
Due: none

fix(mypy): resolve import error for ServiceTokenMonitor in token rotation scheduler
  src/monitoring/__init__.py
Due: black, ruff, mypy, bandit

fix(mypy): resolve circular import issue with ServiceTokenMonitor
  src/automation/token_rotation_scheduler.py
  src/monitoring/__init__.py
Due: black, ruff, mypy, bandit

fix(mypy): remove ServiceTokenMonitor dependency to resolve persistent import issues
  src/automation/token_rotation_scheduler.py
Due: black, ruff, mypy, bandit

fix(linting): resolve all 44 CI linting errors across AUTH-2 codebase
  src/auth/middleware.py
  tests/integration/test_auth_integration.py
  tests/integration/test_service_token_integration.py
  tests/performance/test_auth_performance.py
  tests/unit/auth/test_service_token_manager.py
Due: black, ruff, mypy, bandit

ci: add debugging workflows to diagnose Enhanced Setup failures
  .github/workflows/ci-fixed.yml
  .github/workflows/debug-ci.yml
Due: none

fix(ci): optimize MyPy cache to prevent tar compression timeout
  .github/workflows/ci.yml
Due: none

fix(ci): completely disable MyPy cache to prevent compression timeout
  .github/workflows/ci.yml
Due: none

fix(ci): remove experimental workflow files causing duplicate CI runs
  .github/workflows/ci-fixed.yml
  .github/workflows/debug-ci.yml
Due: none

🔐 Issue #2: Complete AUTH-2 Service Token Management Implementation (#221)
  .github/workflows/auth-service-token-example.yml
  .github/workflows/ci.yml
  AUTH2_COMMIT_SUMMARY.md
  AUTH2_FINAL_VALIDATION_REPORT.md
  AUTH2_IMPLEMENTATION_COMPLETE.md
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
  scripts/generate_requirements.sh
  scripts/service_token_management.py
  scripts/validate_auth_implementation.py
  src/api/auth_endpoints.py
  src/auth/middleware.py
  src/auth/models.py
  src/auth/service_token_manager.py
  src/automation/__init__.py
  src/automation/token_rotation_scheduler.py
  src/config/constants.py
  src/config/settings.py
  src/database/__init__.py
  src/database/connection.py
  src/database/migrations/001_auth_schema.sql
  src/database/models.py
  src/monitoring/__init__.py
  tests/integration/test_auth_integration.py
  tests/integration/test_service_token_integration.py
  tests/performance/test_auth_performance.py
  tests/unit/auth/test_middleware_database.py
  tests/unit/auth/test_service_token_manager.py
  tests/unit/database/__init__.py
  tests/unit/database/conftest.py
  tests/unit/database/test_models.py
  validation_report.txt
Due: black, ruff, mypy, bandit

feat(mcp): integrate williaby/zen-mcp-server fork with comprehensive Docker orchestration
  .gitmodules
  .mcp.json
  Makefile
  docker-compose.zen-vm.yaml
  docs/zen-mcp-server-integration.md
  src/mcp_integration/__init__.py
  src/mcp_integration/client.py
  testing/.mcp.json
Due: black, ruff, mypy, bandit

feat(mcp): integrate williaby/zen-mcp-server fork with comprehensive Docker orchestration (#222)
  .gitmodules
  .mcp.json
  Makefile
  docker-compose.zen-vm.yaml
  docs/zen-mcp-server-integration.md
  src/mcp_integration/__init__.py
  src/mcp_integration/client.py
  testing/.mcp.json
Due: black, ruff, mypy, bandit

feat(auth): implement AUTH-3 Advanced Authorization and Permission System
  .gitignore
  scripts/run_migration.py
  src/api/auth_endpoints.py
  src/api/role_endpoints.py
  src/auth/permissions.py
  src/auth/role_manager.py
  src/database/connection.py
  src/database/migrations/002_auth_rbac_schema.sql
  src/database/models.py
  src/main.py
Due: black, ruff, mypy, bandit

docs: update CLAUDE.md with streamlined global standards reference
  CLAUDE.md
  pyproject.toml
Due: none

feat(auth): implement AUTH-3 core infrastructure and database schema
  migrations/002_add_auth3_rbac.py
  migrations/auth3_functions.sql
  src/auth/constants.py
  src/auth/exceptions.py
  src/auth/types.py
  src/database/base_service.py
Due: black, ruff, mypy, bandit

feat(auth): implement comprehensive role management and permission system
  src/auth/__init__.py
  src/auth/permissions.py
  src/auth/role_manager.py
Due: black, ruff, mypy, bandit

feat(auth): integrate RBAC with API endpoints and middleware
  src/api/auth_endpoints.py
  src/api/role_endpoints.py
  src/auth/jwt_validator.py
  src/auth/middleware.py
Due: black, ruff, mypy, bandit

feat(auth): update database models and service integration for AUTH-3
  src/auth/models.py
  src/auth/service_token_manager.py
  src/database/__init__.py
  src/database/__pycache__/__init__.cpython-310.pyc
  src/database/__pycache__/__init__.cpython-311.pyc
  src/database/__pycache__/base_service.cpython-310.pyc
  src/database/__pycache__/base_service.cpython-311.pyc
  src/database/__pycache__/connection.cpython-310.pyc
  src/database/__pycache__/connection.cpython-311.pyc
  src/database/__pycache__/models.cpython-310.pyc
  src/database/__pycache__/models.cpython-311.pyc
  src/database/connection.py
  src/database/migrations/002_auth_rbac_schema.sql
  src/database/models.py
Due: black, ruff, mypy, bandit
