Repository williaby/PromptCraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: ruff
        entry: poetry run ruff check --fix
        language: system
        types: [python]
        args: [--exit-non-zero-on-fix]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        args: [--config-file=pyproject.toml]
        exclude: ^tests/
      - id: bandit
        name: bandit
        entry: poetry run bandit
        language: system
        types: [python]
        args: ['-c', 'pyproject.toml']

  - repo: https://github.com/python-poetry/poetry
    rev: '2.1.2'
    hooks:
      - id: poetry-check
      - id: poetry-lock

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ['--config', '.markdownlint.json']

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yml']

ci:
  autofix_prs: true
  autofix_commit_msg: '[pre-commit.ci] auto fixes'
  autoupdate_schedule: weekly
  skip: [poetry-lock]

perf(ci): implement job-level parallel CI workflow for 40-60% time reduction
  .github/workflows/ci.yml
  docs/planning/backups/ci-workflows/README.md
  docs/planning/backups/ci-workflows/ci-optimized.yml
  docs/planning/backups/ci-workflows/ci-original.yml
Due: none

fix(ci): use snok/install-poetry action for reliable PATH handling
  .github/workflows/ci.yml
Due: none

fix(ci): resolve Poetry PATH and individual coverage issues
  .github/workflows/ci.yml
Due: none

fix(ci): separate Poetry binary installation from dependency caching
  .github/workflows/ci.yml
Due: none

fix(ci): resolve Poetry PATH issue in GitHub Actions
  .github/workflows/ci.yml
Due: none

fix(ci): use full Poetry paths to resolve command not found errors
  .github/workflows/ci.yml
Due: none

fix(ci): disable individual coverage thresholds for parallel jobs
  .github/workflows/ci.yml
Due: none

fix(ci): revert broken coverage changes and restore proper reporting
  .github/workflows/ci.yml
Due: none

fix(ci): add dependency installation after cache restore
  .github/workflows/ci.yml
Due: none

fix(coverage): implement Codecov carryforward flags to resolve CI/CD coverage discrepancy
  .github/workflows/ci.yml
  codecov.yaml
Due: none

fix(security): update Starlette to 0.47.2 to resolve Snyk vulnerability SNYK-PYTHON-STARLETTE-10874054
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
Due: none

fix(tests): resolve performance test failures in CI environment
  tests/performance/test_production_readiness.py
  tests/performance/test_ui_load_performance.py
Due: black, ruff, bandit

fix(tests): adjust performance test thresholds for mock environments
  tests/performance/test_production_readiness.py
  tests/performance/test_ui_load_performance.py
Due: black, ruff, bandit

feat(performance): improve test thresholds addressing GitHub Copilot quality concerns
  tests/performance/test_production_readiness.py
  tests/performance/test_ui_load_performance.py
Due: black, ruff, bandit

🔧 Security and Performance Cleanup: Complete Phase 1 Development Branch Consolidation (#219)
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
  tests/performance/test_production_readiness.py
  tests/performance/test_ui_load_performance.py
Due: black, ruff, bandit

feat(auth): complete AUTH-1 database integration and linting fixes
  IMPLEMENTATION_SUMMARY.md
  docs/agent_extension_guidelines.md
  docs/mcp-client-usage.md
  docs/migration-guide.md
  docs/mock-standardization-report.md
  docs/phase-1-issue-NEW-9-completion-summary.md
  docs/planning/backups/ci-workflows/ci-original.yml
  docs/security-best-practices.md
  docs/test-configuration.md
  docs/vector-store-integration-guide.md
  docs/vscode-coverage-integration.md
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
  scripts/validate_auth_implementation.py
  src/auth/middleware.py
  src/config/constants.py
  src/config/settings.py
  src/database/__init__.py
  src/database/connection.py
  src/database/migrations/001_auth_schema.sql
  src/database/models.py
  temp_cleanup/README.md
  tests/integration/test_auth_integration.py
  tests/performance/test_auth_performance.py
  tests/performance/test_production_readiness.py
  tests/performance/test_ui_load_performance.py
  tests/unit/auth/test_middleware_database.py
  tests/unit/database/__init__.py
  tests/unit/database/conftest.py
  tests/unit/database/test_connection.py
  tests/unit/database/test_models.py
  validation_report.txt
Due: black, ruff, mypy, bandit

docs: fix markdown formatting in IMPLEMENTATION_SUMMARY.md
  IMPLEMENTATION_SUMMARY.md
Due: none

fix: address Copilot PR review comments
  scripts/validate_auth_implementation.py
  tests/unit/auth/test_middleware_database.py
Due: black, ruff, mypy, bandit

🎯 Phase 1 Completion: Cloudflare Access Foundation with Database Integration (#220)
  IMPLEMENTATION_SUMMARY.md
  docs/agent_extension_guidelines.md
  docs/mcp-client-usage.md
  docs/migration-guide.md
  docs/mock-standardization-report.md
  docs/phase-1-issue-NEW-9-completion-summary.md
  docs/planning/backups/ci-workflows/ci-original.yml
  docs/security-best-practices.md
  docs/test-configuration.md
  docs/vector-store-integration-guide.md
  docs/vscode-coverage-integration.md
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
  scripts/validate_auth_implementation.py
  src/auth/middleware.py
  src/config/constants.py
  src/config/settings.py
  src/database/__init__.py
  src/database/connection.py
  src/database/migrations/001_auth_schema.sql
  src/database/models.py
  temp_cleanup/README.md
  tests/integration/test_auth_integration.py
  tests/performance/test_auth_performance.py
  tests/unit/auth/test_middleware_database.py
  tests/unit/database/__init__.py
  tests/unit/database/conftest.py
  tests/unit/database/test_connection.py
  tests/unit/database/test_models.py
  validation_report.txt
Due: black, ruff, mypy, bandit

🔧 Security and Performance Cleanup: Complete Phase 1 Development Branch Consolidation (#219)
  tests/performance/test_production_readiness.py
  tests/performance/test_ui_load_performance.py
Due: black, ruff, bandit

feat(auth): add missing AUTH-2 implementation files
  .github/workflows/auth-service-token-example.yml
  AUTH2_COMMIT_SUMMARY.md
  AUTH2_FINAL_VALIDATION_REPORT.md
  AUTH2_IMPLEMENTATION_COMPLETE.md
  scripts/service_token_management.py
  scripts/validate_auth_implementation.py
  src/api/auth_endpoints.py
  src/auth/service_token_manager.py
  src/automation/token_rotation_scheduler.py
  src/database/__init__.py
  src/database/connection.py
  src/database/migrations/001_auth_schema.sql
  src/database/models.py
  tests/integration/test_auth_integration.py
  tests/integration/test_service_token_integration.py
  tests/performance/test_auth_performance.py
  tests/unit/auth/test_middleware_database.py
  tests/unit/auth/test_service_token_manager.py
  tests/unit/database/__init__.py
  tests/unit/database/conftest.py
  tests/unit/database/test_models.py
  validation_report.txt
Due: black, ruff, mypy, bandit

security: fix SQL injection vulnerability and linting issues
  poetry.lock
  pyproject.toml
  src/auth/middleware.py
  src/auth/models.py
  src/config/constants.py
  src/config/settings.py
Due: black, ruff, mypy, bandit

🎯 Phase 1 Completion: Cloudflare Access Foundation with Database Integration (#220)
  IMPLEMENTATION_SUMMARY.md
  docs/agent_extension_guidelines.md
  docs/mcp-client-usage.md
  docs/migration-guide.md
  docs/mock-standardization-report.md
  docs/phase-1-issue-NEW-9-completion-summary.md
  docs/planning/backups/ci-workflows/ci-original.yml
  docs/security-best-practices.md
  docs/test-configuration.md
  docs/vector-store-integration-guide.md
  docs/vscode-coverage-integration.md
  pyproject.toml
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
  src/auth/middleware.py
  src/config/constants.py
  src/config/settings.py
  src/database/__init__.py
  src/database/connection.py
  temp_cleanup/README.md
  tests/unit/database/test_connection.py
Due: black, ruff, mypy, bandit

fix(auth): resolve SQL injection and timezone issues in database layer
  scripts/validate_auth_implementation.py
  src/database/connection.py
  src/database/models.py
  tests/unit/auth/test_middleware_database.py
Due: black, ruff, mypy, bandit

fix(tests): resolve Copilot review comments for AUTH-2 implementation
  src/database/migrations/001_auth_schema.sql
  tests/integration/test_service_token_integration.py
  tests/unit/database/test_models.py
Due: black, ruff, bandit

fix: resolve merge conflicts and restore pytest functionality
  src/auth/middleware.py
  src/database/connection.py
Due: black, ruff, mypy, bandit

style: apply linter formatting fixes
  src/auth/middleware.py
  src/database/connection.py
Due: black, ruff, mypy, bandit

fix: resolve security and code quality issues from PR #221
  src/auth/service_token_manager.py
  src/database/models.py
Due: black, ruff, mypy, bandit

security: fix log injection vulnerability in emergency_revoke_all_tokens
  src/auth/service_token_manager.py
Due: black, ruff, mypy, bandit

fix(types): resolve all MyPy type annotation errors across AUTH-2 system
  src/api/auth_endpoints.py
  src/auth/models.py
  src/auth/service_token_manager.py
  src/automation/token_rotation_scheduler.py
  src/database/connection.py
Due: black, ruff, mypy, bandit

fix(security): resolve SQL injection and Python 3.10 timezone compatibility
  src/auth/middleware.py
  src/auth/service_token_manager.py
  src/database/models.py
Due: black, ruff, mypy, bandit

fix(deps): sync requirements files with poetry.lock for CI validation
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
  src/auth/service_token_manager.py
Due: black, ruff, mypy, bandit

fix(style): apply remaining pre-commit hook formatting and linting fixes
  src/api/auth_endpoints.py
  src/auth/service_token_manager.py
Due: black, ruff, mypy, bandit
