Repository williaby/PromptCraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, ruff-datetime-check, mypy, bandit

black:
  name: black
  entry: poetry run black
  language: system
  args:
  - --check
  - --config=pyproject.toml

ruff:
  name: ruff
  entry: poetry run ruff check
  language: system
  args:
  - --config=pyproject.toml
  - --no-cache

ruff-datetime-check:
  name: ruff-datetime-check
  entry: poetry run ruff check
  language: system
  args:
  - --select=DTZ005
  - --config=pyproject.toml
  - --no-cache

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  args:
  - src
  - --config-file=pyproject.toml
  - --cache-dir=.mypy_cache
  pass_filenames: false

bandit:
  name: bandit
  entry: poetry run bandit
  language: system
  args:
  - -r
  - src
  - -c
  - pyproject.toml
  pass_filenames: false

chore: add missing __init__.py files, requirements-dev.txt, RAD script rename
  .vscode/settings.json
  requirements-dev.txt
  scripts/verify_assumptions_smart.py
  src/data/__init__.py
  tests/unit/agents/__init__.py
  tests/unit/auth_simple/__init__.py
  tests/unit/automation/__init__.py
  tests/unit/commands/__init__.py
  tests/unit/core/vector_stores/__init__.py
  tests/unit/metrics/__init__.py
  tests/unit/security/__init__.py
  tests/unit/standards/__init__.py
Due: black, ruff, ruff-datetime-check, mypy, bandit

fix(mypy): add narrowing assertions to global singleton getters
  src/auth_simple/config.py
  src/core/ab_testing_framework.py
  src/core/dynamic_function_loader.py
  src/core/dynamic_loading_integration.py
  src/core/token_optimization_monitor.py
  src/mcp_integration/model_registry.py
  src/utils/observability.py
Due: black, ruff, ruff-datetime-check, mypy, bandit

fix(tests): update stale singleton refs, patch targets, and datetime assertions
  tests/unit/agents/test_agent_discovery.py
  tests/unit/api/test_hybrid_infrastructure_endpoints.py
  tests/unit/auth_simple/test_middleware_comprehensive.py
  tests/unit/core/test_ab_testing_framework.py
  tests/unit/core/test_ab_testing_framework_comprehensive.py
  tests/unit/database/test_connection.py
  tests/unit/mcp_integration/zen_client/test_error_handler.py
  tests/unit/metrics/test_collector.py
Due: black, ruff, mypy, bandit

fix(tests): remove await from async-to-sync converted mcp_integration methods
  tests/integration/test_hybrid_infrastructure.py
  tests/unit/mcp_integration/test_connection_bridge.py
  tests/unit/mcp_integration/test_smart_discovery.py
  tests/unit/mcp_integration/test_zen_stdio_client.py
Due: black, ruff, mypy, bandit

fix(tests): correct rate limiter storage_uri assertion pattern
  tests/unit/security/test_rate_limiting_comprehensive.py
Due: black, ruff, mypy, bandit

fix(tests): use cross-platform Path.parts comparison for path assertion
  tests/unit/test_run_contract_tests.py
Due: black, ruff, mypy, bandit

fix(api): add justification comments to ARG001 noqa suppressions
  pytest_plugins/coverage_hook_plugin.py
  src/api/auth_endpoints.py
Due: black, ruff, ruff-datetime-check, mypy, bandit

docs: update CHANGELOG, CLAUDE.md wording, and backlog tense
  CHANGELOG.md
  CLAUDE.md
  docs/architecture/v1.4.0-alignment-backlog.md
Due: none

style: move ARG001 noqa to parameter line after Black signature split
  pytest_plugins/coverage_hook_plugin.py
Due: black, ruff, mypy, bandit

fix(tests): update TestSettingsFactory to reset _settings_ref[0] not _settings
  tests/unit/test_config_management.py
Due: black, ruff, mypy, bandit

chore(ci): remove CodeQL workflow
  .github/workflows/codeql.yml
Due: none

fix: requirements-dev.txt to reduce vulnerabilities
  requirements-dev.txt
Due: none

docs: add CODE_OF_CONDUCT.md pointer to org-level policy
  CODE_OF_CONDUCT.md
Due: none

docs: add GOVERNANCE.md pointer to org-level policy
  GOVERNANCE.md
Due: none

ci: add REUSE compliance files (REUSE.toml)
  REUSE.toml
Due: none

ci: add REUSE compliance files (LICENSES/MIT.txt)
  LICENSES/MIT.txt
Due: none

ci: add REUSE compliance files (.github/workflows/reuse.yml)
  .github/workflows/reuse.yml
Due: none

ci: add Dependabot configuration (.github/dependabot.yml)
  .github/dependabot.yml
Due: none

ci: add security analysis workflow (WF-3)
  .github/workflows/security-analysis.yml
Due: none

ci: add CodeQL security analysis workflow (WF-5)
  .github/workflows/codeql.yml
Due: none

ci: add SBOM and security scan workflow (WF-6)
  .github/workflows/sbom.yml
Due: none

ci: add Python compatibility matrix workflow (WF-9)
  .github/workflows/python-compatibility.yml
Due: none

ci: add MkDocs documentation workflow (WF-14)
  .github/workflows/docs.yml
Due: none

ci: add coverage upload workflow (WF-11)
  .github/workflows/coverage.yml
Due: none

ci: add cruft template sync validation (WF-15)
  .github/workflows/validate-cruft.yml
Due: none

ci: add FIPS compatibility check (WF-16)
  .github/workflows/fips-compatibility.yml
Due: none

fix(sonarcloud): add sonar-project.properties
  sonar-project.properties
Due: none

fix(sonarcloud): deploy sonarcloud.yml
  .github/workflows/sonarcloud.yml
Due: none

fix(sonarcloud): use correct package manager for dependency install
  .github/workflows/sonarcloud.yml
Due: none

chore(sonarcloud): remove CI analysis -- using Automatic Analysis for williaby
  .github/workflows/sonarcloud.yml
Due: none

chore(deps): remove dependabot.yml -- Renovate is now active
  .github/dependabot.yml
Due: none

fix(renovate): remove invalid fields and add required match selector
  renovate.json
Due: none

docs: add community health pointer files (#252)
  CODE_OF_CONDUCT.md
  GOVERNANCE.md
Due: none

fix: requirements-dev.txt to reduce vulnerabilities (#251)
  requirements-dev.txt
Due: none

fix(ci): remove unnecessary uv dependency steps from CodeQL workflow
  .github/workflows/codeql.yml
Due: none

fix(ci): remove unnecessary uv dependency steps from CodeQL workflow (#265)
  .github/workflows/codeql.yml
Due: none

fix(renovate): remove invalid fields and add required match selector (#264)
  renovate.json
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  ruff-datetime-check: any of: ^src/ and \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
