Repository williaby/PromptCraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: ruff
        entry: poetry run ruff check --fix
        language: system
        types: [python]
        args: [--exit-non-zero-on-fix]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        args: [--config-file=pyproject.toml]
        exclude: ^tests/
      - id: bandit
        name: bandit
        entry: poetry run bandit
        language: system
        types: [python]
        args: ['-c', 'pyproject.toml']

  - repo: https://github.com/python-poetry/poetry
    rev: '2.1.2'
    hooks:
      - id: poetry-check
      - id: poetry-lock

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ['--config', '.markdownlint.json']

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yml']

ci:
  autofix_prs: true
  autofix_commit_msg: '[pre-commit.ci] auto fixes'
  autoupdate_schedule: weekly
  skip: [poetry-lock]

fix(security): address Snyk vulnerabilities in dependencies
  poetry.lock
  pyproject.toml
Due: none

fix: requirements-docker.txt to reduce vulnerabilities
  requirements-docker.txt
Due: none

feat(phase-1-issue-5): complete Gradio UI integration with 100% test coverage and validation
  coverage.json
  docs/deployment/gradio-ui-integration-guide.md
  docs/validation/phase-1-issue-5-user-acceptance-tests.md
  scripts/validate_gradio_integration.py
  src/ui/components/accessibility_enhancements.py
  src/ui/multi_journey_interface.py
  tests/integration/test_gradio_ui_integration.py
  tests/integration/test_mcp_connectivity.py
  tests/performance/test_ui_load_performance.py
  tests/unit/scripts/test_validate_gradio_integration.py
  tests/unit/ui/components/test_accessibility_enhancements.py
Due: black, ruff, mypy, bandit

style: fix code formatting and import organization for ruff compliance
  tests/integration/test_gradio_ui_integration.py
  tests/integration/test_mcp_connectivity.py
  tests/performance/test_ui_load_performance.py
Due: black, ruff, bandit

fix(linting): address major code quality violations (partial)
  docs/deployment/gradio-ui-integration-guide.md
  docs/validation/phase-1-issue-5-user-acceptance-tests.md
  src/ui/multi_journey_interface.py
Due: black, ruff, mypy, bandit

fix(deps): remove pact-python dependency causing CI build failures
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: none

fix(typing): resolve MyPy errors and restore 80% coverage threshold
  pyproject.toml
  src/ui/components/accessibility_enhancements.py
Due: black, ruff, mypy, bandit

fix(typing): resolve no-any-return error with explicit cast
  src/ui/components/accessibility_enhancements.py
Due: black, ruff, mypy, bandit

fix(linting): update lint config to industry standards and resolve 18 critical violations
  pyproject.toml
  scripts/coverage_automation/classifier.py
  scripts/generate_test_coverage_fast.py
  src/auth/jwt_validator.py
  src/config/health.py
  src/core/hyde_processor.py
  src/core/query_counselor.py
  src/mcp_integration/docker_mcp_client.py
  src/mcp_integration/hybrid_router.py
  src/mcp_integration/openrouter_client.py
Due: black, ruff, mypy, bandit

fix(mypy): resolve unreachable statement error in routing decision logic
  src/mcp_integration/hybrid_router.py
Due: black, ruff, mypy, bandit

fix(tests): resolve 13 failing tests from lint changes
  current_lint_breakdown.txt
  src/core/vector_store.py
  src/utils/logging_mixin.py
  tests/integration/test_comprehensive_error_handling.py
  tests/integration/test_mcp_config_integration.py
  tests/integration/test_vector_store_integration.py
Due: black, ruff, mypy, bandit

fix(logging): resolve all lint violations in logging tests and code
  tests/unit/utils/test_logging_mixin.py
Due: black, ruff, bandit

fix(test): correct pytest.raises match pattern for ValueError
  tests/unit/utils/test_logging_mixin.py
Due: black, ruff, bandit

fix(tests): resolve 4 failing test cases with proper implementation and full linting compliance
  tests/unit/auth/test_models_comprehensive.py
  tests/unit/ui/test_multi_journey_interface.py
  tests/unit/utils/test_encryption.py
Due: black, ruff, bandit

fix(ci): resolve dependency installation causing test_detect_archive_bombs to fail
  .github/workflows/ci.yml
Due: none

fix(test): update archive bomb error message assertion
  tests/unit/ui/test_multi_journey_interface.py
Due: black, ruff, bandit

fix(test): implement consensus-based solution for Gradio test failure
  tests/unit/ui/test_multi_journey_interface.py
Due: black, ruff, bandit

fix(test): correct mock target in test_detect_archive_bombs
  tests/unit/ui/test_multi_journey_interface.py
Due: black, ruff, bandit

fix(test): align test_detect_archive_bombs with source implementation
  tests/unit/ui/test_multi_journey_interface.py
Due: black, ruff, bandit

fix(test): resolve test_detect_archive_bombs CI failure
  .github/workflows/ci.yml
  pyproject.toml
  src/ui/multi_journey_interface.py
  tests/unit/ui/test_multi_journey_interface.py
Due: black, ruff, mypy, bandit

chore: update poetry.lock and requirements after dependency changes
  poetry.lock
  requirements-dev.txt
Due: none

Phase 1 Issue 5: Complete Gradio UI Integration & Validation (#217)
  .github/workflows/ci.yml
  coverage.json
  current_lint_breakdown.txt
  docs/deployment/gradio-ui-integration-guide.md
  docs/validation/phase-1-issue-5-user-acceptance-tests.md
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  scripts/coverage_automation/classifier.py
  scripts/generate_test_coverage_fast.py
  scripts/validate_gradio_integration.py
  src/auth/jwt_validator.py
  src/config/health.py
  src/core/hyde_processor.py
  src/core/query_counselor.py
  src/core/vector_store.py
  src/mcp_integration/docker_mcp_client.py
  src/mcp_integration/hybrid_router.py
  src/mcp_integration/openrouter_client.py
  src/ui/components/accessibility_enhancements.py
  src/ui/multi_journey_interface.py
  src/utils/logging_mixin.py
  tests/integration/test_comprehensive_error_handling.py
  tests/integration/test_gradio_ui_integration.py
  tests/integration/test_mcp_config_integration.py
  tests/integration/test_mcp_connectivity.py
  tests/integration/test_vector_store_integration.py
  tests/performance/test_ui_load_performance.py
  tests/unit/auth/test_models_comprehensive.py
  tests/unit/scripts/test_validate_gradio_integration.py
  tests/unit/ui/components/test_accessibility_enhancements.py
  tests/unit/ui/test_multi_journey_interface.py
  tests/unit/utils/test_encryption.py
  tests/unit/utils/test_logging_mixin.py
Due: black, ruff, mypy, bandit

fix(lint): Phase 1 critical security & performance progress
  markdown_errors_full.txt
  src/mcp_integration/hybrid_router.py
  src/mcp_integration/openrouter_client.py
  src/ui/journeys/journey1_smart_templates.py
  src/ui/multi_journey_interface.py
  tests/unit/auth/test_exception_models_comprehensive.py
Due: black, ruff, mypy, bandit

fix(lint): resolve RET503 missing return statement in routing logic
  src/mcp_integration/hybrid_router.py
  src/ui/multi_journey_interface.py
  tests/conftest_backup.py
  tests/examples/test_config_demo.py
  tests/examples/test_encryption_usage.py
  tests/integration/test_hybrid_router_integration.py
  tests/integration/test_mcp_config_integration.py
Due: black, ruff, mypy, bandit

chore(deps): update poetry.lock and regenerate requirements files
  src/mcp_integration/hybrid_router.py
Due: black, ruff, mypy, bandit

fix(ui): resolve duplicate input lines in fallback result methods
  src/ui/multi_journey_interface.py
Due: black, ruff, mypy, bandit

fix(mypy): resolve unreachable statement error in hybrid_router.py
  src/mcp_integration/hybrid_router.py
Due: black, ruff, mypy, bandit

docs: add comprehensive linting status report
  docs/current-linting-status.md
Due: none

fix(main): resolve FastAPI function signature errors for CI
  src/main.py
Due: black, ruff, mypy, bandit

fix(security): resolve GitGuardian false positive for test JWT token
  tests/unit/test_jwt_validator_coverage.py
Due: black, ruff, bandit

fix(security): replace JWT test token to resolve GitGuardian detection
  tests/unit/test_jwt_validator_coverage.py
Due: black, ruff, bandit

fix(security): eliminate final JWT pattern in auth negative tests
  tests/auth/test_auth_negative_paths.py
Due: black, ruff, bandit

fix(security): implement dynamic JWT generation and resolve remaining lint issues
  tests/contract/test_mcp_contracts.py
  tests/integration/test_real_mcp_integration.py
  tests/unit/test_jwt_validator_coverage.py
  tests/unit/test_parallel_retry_validation.py
Due: black, ruff, bandit

feat(ci): optimize codecov configuration for better commit comparison and flag analysis
  .github/workflows/ci.yml
  codecov.yaml
  tests/integration/test_real_mcp_integration.py
Due: black, ruff, bandit

fix(ci): remove strict coverage requirement from individual test runs
  .github/workflows/ci.yml
Due: none

feat(ci): add optimized CI workflow for performance testing
  .github/workflows/ci-optimized.yml
Due: none
