Repository williaby/PromptCraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: ruff
        entry: poetry run ruff check --fix
        language: system
        types: [python]
        args: [--exit-non-zero-on-fix]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        args: [--config-file=pyproject.toml]
        exclude: ^tests/
      - id: bandit
        name: bandit
        entry: poetry run bandit
        language: system
        types: [python]
        args: ['-c', 'pyproject.toml']

  - repo: https://github.com/python-poetry/poetry
    rev: '2.1.2'
    hooks:
      - id: poetry-check
      - id: poetry-lock

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ['--config', '.markdownlint.json']

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yml']

ci:
  autofix_prs: true
  autofix_commit_msg: '[pre-commit.ci] auto fixes'
  autoupdate_schedule: weekly
  skip: [poetry-lock]

feat(security): replace hardcoded IP addresses with environment variables
  .env.template
  CONTRIBUTING.md
  config/security_config.yaml
  docker-compose.zen-vm.yaml
  docs/configuration-system-guide.md
  docs/usage-guide.md
Due: none

docs: add security configuration note to trigger CodeQL analysis
  src/main.py
Due: black, ruff, mypy, bandit

🔒 Security Fix: Replace Hardcoded IP Addresses with Environment Variables (#194)
  .env.template
  CONTRIBUTING.md
  config/security_config.yaml
  docker-compose.zen-vm.yaml
  docs/configuration-system-guide.md
  docs/usage-guide.md
  src/main.py
Due: black, ruff, mypy, bandit

feat(mcp): implement Docker MCP Toolkit integration with parallel subagent execution
  .env.template
  .serena/cache/python/document_symbols_cache_v23-06-25.pkl
  docs/planning/ADR-043-docker-mcp-toolkit-integration.md
  docs/validation/phase-1-issue-NEW-1-validation-report.md
  pyproject.toml
  src/config/health.py
  src/main.py
  src/mcp_integration/__init__.py
  src/mcp_integration/client.py
  src/mcp_integration/config_manager.py
  src/mcp_integration/docker_mcp_client.py
  src/mcp_integration/parallel_executor.py
  tests/unit/test_mcp_integration.py
Due: black, ruff, mypy, bandit

fix: resolve all markdown linting issues in ADR-043
  docs/planning/ADR-043-docker-mcp-toolkit-integration.md
Due: none

fix: remove ignored documentation files from tracking
  docs/planning/ADR-043-docker-mcp-toolkit-integration.md
  docs/validation/phase-1-issue-NEW-1-validation-report.md
Due: none

fix: correct Pydantic v2 ValidationError handling in MCP integration tests
  tests/unit/test_mcp_integration.py
Due: black, ruff, bandit

test: add comprehensive MCP integration tests to improve coverage
  tests/unit/test_mcp_integration.py
Due: black, ruff, bandit

test: add monitoring API tests and fix test coverage issues
  docs/validation/phase-1-issue-NEW-1-validation-report.md
  src/mcp_integration/client.py
  src/mcp_integration/docker_mcp_client.py
  tests/unit/test_mcp_integration.py
  tests/unit/test_monitoring_functions.py
Due: black, ruff, mypy, bandit

fix: resolve mypy unused type ignore comment error
  src/mcp_integration/parallel_executor.py
Due: black, ruff, mypy, bandit

fix(ci): add retry logic to prevent SSL/TLS handshake failures
  .github/workflows/ci.yml
Due: none

feat(mcp): Docker MCP Toolkit integration with parallel subagent execution (#196)
  .env.template
  .github/workflows/ci.yml
  .serena/cache/python/document_symbols_cache_v23-06-25.pkl
  docs/validation/phase-1-issue-NEW-1-validation-report.md
  pyproject.toml
  src/config/health.py
  src/main.py
  src/mcp_integration/__init__.py
  src/mcp_integration/client.py
  src/mcp_integration/config_manager.py
  src/mcp_integration/docker_mcp_client.py
  src/mcp_integration/parallel_executor.py
  tests/unit/test_mcp_integration.py
  tests/unit/test_monitoring_functions.py
Due: black, ruff, mypy, bandit

fix: resolve markdown linting issues in documentation
  docs/configuration-system-guide.md
  docs/usage-guide.md
  package.json
  src/config/settings.py
Due: black, ruff, mypy, bandit

feat(ci): complete comprehensive testing infrastructure for Phase 1 Issue CI-11
  .github/workflows/ci.yml
  .mutmut_config
  .serena/cache/python/document_symbols_cache_v23-06-25.pkl
  codecov.yaml
  config/dast-config.yaml
  config/testing-schedule.json
  docs/codecov-integration.md
  docs/testing/local-execution-guide.md
  docs/testing/quick-reference.md
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
  scripts/quality-gates.py
  scripts/schedule-manager.py
  tests/conftest.py
  tests/contract/test_mcp_contracts.py
  tests/performance/__init__.py
  tests/performance/locustfile.py
  tests/performance/performance_config.py
  tests/unit/test_edge_cases_parametrized.py
Due: black, ruff, mypy, bandit

fix(tests): resolve all Pydantic validation and linting errors
  .serena/cache/python/document_symbols_cache_v23-06-25.pkl
  src/config/health.py
  tests/unit/test_edge_cases_parametrized.py
Due: black, ruff, mypy, bandit

fix(deps): update poetry.lock and regenerate requirements files
  requirements-dev.txt
Due: none

fix(tests): correct edge case test expectations to match ApplicationSettings behavior
  tests/unit/test_edge_cases_parametrized.py
Due: black, ruff, bandit

fix(ci): add CodeCov upload to main test job
  .github/workflows/ci.yml
Due: none

fix(tests): globally suppress PendingDeprecationWarning for Pact Python
  pyproject.toml
Due: none

fix: resolve linting issues in contract tests and add missing __init__.py
  tests/contract/__init__.py
  tests/contract/test_mcp_contracts.py
Due: black, ruff, bandit

fix: skip Pact contract tests in CI environment to prevent connection failures
  tests/contract/test_mcp_contracts.py
Due: black, ruff, bandit

fix: skip Pact contract tests in CI environment to prevent connection failures
  requirements-dev.txt
Due: none

fix: resolve linting failures in CI workflow
  pyproject.toml
  src/config/health.py
  tests/performance/__init__.py
Due: black, ruff, mypy, bandit

fix(deps): sync requirements-dev.txt with poetry.lock
  requirements-dev.txt
Due: none

fix(deps): resolve pywin32 platform condition ordering determinism
  requirements-dev.txt
Due: none

fix: resolve CI validation failures with comprehensive fixes
  .markdownlintignore
  .pre-commit-config.yaml
  .serena/cache/python/document_symbols_cache_v23-06-25.pkl
  pyproject.toml
  requirements-dev.txt
Due: none

fix(codecov): improve CodeCov configuration for PR feedback
  codecov.yaml
Due: none
