Repository williaby/PromptCraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit

black:
  name: black
  entry: poetry run black
  language: system

ruff:
  name: ruff
  entry: poetry run ruff check --fix
  language: system
  args:
  - --exit-non-zero-on-fix

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  args:
  - --config-file=pyproject.toml

bandit:
  name: bandit
  entry: poetry run bandit
  language: system
  args:
  - -c
  - pyproject.toml

fix: resolve all test failures and complete CI validation
  junit.xml
  src/core/performance_optimizer.py
  src/core/query_counselor.py
  tests/unit/test_performance_optimizer.py
  tests/unit/test_query_counselor.py
Due: black, ruff, mypy, bandit

fix: resolve final integration test failures and complete comprehensive error handling
  junit.xml
  src/config/settings.py
  src/core/hyde_processor.py
  src/core/performance_optimizer.py
  src/mcp_integration/mcp_client.py
  tests/integration/test_comprehensive_error_handling.py
  tests/integration/test_end_to_end_integration.py
  tests/unit/test_hyde_processor.py
Due: black, ruff, mypy, bandit

fix: resolve integration test linting issues and complete error handling validation
  tests/integration/test_comprehensive_error_handling.py
Due: black, ruff, bandit

🔧 Issue #9 Final Refinements: Core System Polish (#204)
  examples/vector_store_usage.py
  junit.xml
  performance_validation_test.py
  run_integration_test.py
  run_test.py
  src/config/health.py
  src/config/settings.py
  src/core/hyde_processor.py
  src/core/performance_optimizer.py
  src/core/query_counselor.py
  src/core/vector_store.py
  src/core/zen_mcp_error_handling.py
  src/mcp_integration/mcp_client.py
  test_performance_quick.py
  test_runner.py
  tests/integration/test_comprehensive_error_handling.py
  tests/integration/test_end_to_end_integration.py
  tests/integration/test_mcp_config_integration.py
  tests/integration/test_qdrant_vector_store_integration.py
  tests/integration/test_query_counselor_hyde_integration.py
  tests/integration/test_real_qdrant_integration.py
  tests/integration/test_vector_store_integration.py
  tests/performance/test_production_readiness.py
  tests/unit/test_base_agent_comprehensive.py
  tests/unit/test_config_management.py
  tests/unit/test_create_processor_core_comprehensive.py
  tests/unit/test_hyde_processor.py
  tests/unit/test_parallel_executor_comprehensive.py
  tests/unit/test_performance_optimizer.py
  tests/unit/test_query_counselor.py
  tests/unit/test_vector_store.py
Due: black, ruff, mypy, bandit

fix: requirements-dev.txt to reduce vulnerabilities
  requirements-dev.txt
Due: none

cleanup: remove temporary test files from repository root
  comprehensive_test_runner.py
  demo_performance_optimizations.py
  final_validation.py
  integration_test_summary.py
  junit.xml
  manual_test.py
  performance_validation_test.py
  run_integration_test.py
  run_test.py
  run_tests.py
  test_hyde_vector_integration.py
  test_junit_names.py
  test_mcp_integration.py
  test_performance_quick.py
  test_runner.py
  test_step_by_step.py
  validate_imports.py
  validate_week1_integration.py
Due: black, ruff, mypy, bandit

🚀 Optimize CI workflow: Remove redundant testing
  .github/workflows/ci.yml
Due: none

fix: resolve linting issues in test coverage boost
  junit.xml
  tests/unit/test_coverage_boost.py
Due: black, ruff, bandit

fix: resolve critical test failures and major lint issues for GitHub PR #206
  examples/openrouter_client_demo.py
  junit.xml
  poetry.lock
  pyproject.toml
  src/core/hyde_processor.py
  src/core/query_counselor.py
  src/mcp_integration/hybrid_router.py
  src/mcp_integration/openrouter_client.py
  tests/contract/test_mcp_contracts.py
  tests/integration/test_comprehensive_error_handling.py
  tests/integration/test_end_to_end_integration.py
  tests/integration/test_hybrid_router_integration.py
  tests/integration/test_real_mcp_integration.py
  tests/performance/test_baseline_performance.py
  tests/unit/test_coverage_boost.py
  tests/unit/test_hybrid_routing_enhanced.py
  tests/unit/test_query_counselor_hyde_integration.py
Due: black, ruff, mypy, bandit

fix: sync requirements files with poetry.lock
  requirements-dev.txt
Due: none

fix: resolve critical test failures and major lint issues for GitHub PR #206
  examples/openrouter_client_demo.py
  examples/vector_store_usage.py
  junit.xml
  src/config/performance_config.py
  src/mcp_integration/hybrid_router.py
  src/mcp_integration/model_registry.py
  src/utils/circuit_breaker.py
  tests/integration/test_end_to_end_integration.py
  tests/integration/test_hybrid_router_integration.py
  tests/integration/test_hybrid_routing_integration.py
  tests/integration/test_qdrant_vector_store_integration.py
  tests/integration/test_real_qdrant_integration.py
  tests/integration/test_vector_store_integration.py
  tests/performance/test_baseline_performance.py
  tests/performance/test_production_readiness.py
  tests/unit/test_base_agent_comprehensive.py
  tests/unit/test_circuit_breaker.py
  tests/unit/test_config_management.py
  tests/unit/test_hybrid_router.py
  tests/unit/test_hybrid_routing_enhanced.py
  tests/unit/test_query_counselor_hyde_integration.py
Due: black, ruff, mypy, bandit

perf(ci): optimize GitHub Actions workflow for 50% faster execution
  .github/workflows/ci.yml
Due: none

fix: complete C901 complexity refactoring for performance_optimizer.py
  .vscode/settings.json
  src/core/performance_optimizer.py
Due: black, ruff, mypy, bandit

fix: resolve circular constant definition in openrouter_client.py
  src/mcp_integration/openrouter_client.py
Due: black, ruff, mypy, bandit

fix: resolve error_occurred variable reference in performance_optimizer.py
  src/core/performance_optimizer.py
Due: black, ruff, mypy, bandit

fix: replace MD5 with SHA256 for CodeQL security compliance
  src/core/performance_optimizer.py
Due: black, ruff, mypy, bandit

optimize: eliminate redundant CI runs by using pull_request-only triggers
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

fix(tests): optimize performance baseline tests for CI reliability
  tests/integration/test_query_counselor_hyde_integration.py
  tests/performance/test_baseline_performance.py
Due: black, ruff, bandit

fix(tests): complete systematic test failure resolution
  .vscode/settings.json
  coverage-focused.xml
  debug_routing.py
  junit.xml
  src/core/performance_optimizer.py
  src/core/query_counselor.py
  src/core/vector_store.py
  src/mcp_integration/hybrid_router.py
  src/mcp_integration/openrouter_client.py
  tests/examples/__init__.py
  tests/examples/test_config_demo.py
  tests/examples/test_encryption_usage.py
  tests/examples/test_health_check_demo.py
  tests/examples/test_openrouter_client_demo.py
  tests/examples/test_vector_store_usage.py
  tests/integration/test_real_mcp_integration.py
  tests/integration/test_vector_store_integration.py
  tests/performance/test_production_readiness.py
  tests/unit/test_docker_mcp_client_comprehensive.py
  tests/unit/test_noxfile.py
  tests/unit/utils/__init__.py
  tests/unit/utils/test_encryption.py
  tests/unit/utils/test_logging_mixin.py
Due: black, ruff, mypy, bandit

feat(tests): complete systematic test failure resolution - 100% success rate
  examples/encryption_usage.py
  junit.xml
  pyproject.toml
  scripts/debug_routing.py
  src/mcp_integration/docker_mcp_client.py
  src/utils/logging_mixin.py
  tests/examples/test_encryption_usage.py
  tests/examples/test_health_check_demo.py
  tests/examples/test_openrouter_client_demo.py
  tests/examples/test_vector_store_usage.py
  tests/integration/test_hybrid_router_integration.py
  tests/integration/test_qdrant_vector_store_integration.py
  tests/integration/test_real_qdrant_integration.py
  tests/unit/test_config_management.py
  tests/unit/test_hybrid_router.py
  tests/unit/test_noxfile.py
  tests/unit/utils/test_encryption.py
  tests/unit/utils/test_logging_mixin.py
Due: black, ruff, mypy, bandit

fix(tests): resolve CI production readiness stress test timing variability
  tests/performance/test_production_readiness.py
Due: black, ruff, bandit

fix(tests): increase CI timing tolerance for production readiness test
  tests/performance/test_production_readiness.py
Due: black, ruff, bandit

feat(auth): implement AUTH-1 Cloudflare Access JWT authentication foundation
  pyproject.toml
  src/auth/__init__.py
  src/auth/__pycache__/__init__.cpython-312.pyc
  src/auth/__pycache__/config.cpython-312.pyc
  src/auth/__pycache__/jwks_client.cpython-312.pyc
  src/auth/__pycache__/jwt_validator.cpython-312.pyc
  src/auth/__pycache__/middleware.cpython-312.pyc
  src/auth/__pycache__/models.cpython-312.pyc
  src/auth/config.py
  src/auth/jwks_client.py
  src/auth/jwt_validator.py
  src/auth/middleware.py
  src/auth/models.py
  tests/auth/__init__.py
  tests/auth/__pycache__/__init__.cpython-312.pyc
  tests/auth/__pycache__/test_auth_negative_paths.cpython-312-pytest-8.4.1.pyc
  tests/auth/__pycache__/test_jwks_caching.cpython-312-pytest-8.4.1.pyc
  tests/auth/__pycache__/test_jwt_validation.cpython-312-pytest-8.4.1.pyc
  tests/auth/test_auth_negative_paths.py
  tests/auth/test_jwks_caching.py
  tests/auth/test_jwt_validation.py
Due: black, ruff, mypy, bandit

🔧 Fix pytest test discovery errors - recover 395+ tests
  .vscode/settings.json
  src/config/__init__.py
  src/config/settings.py
  src/core/hyde_processor.py
  src/core/performance_optimizer.py
  src/core/vector_store.py
  src/core/zen_mcp_error_handling.py
  src/mcp_integration/client.py
  src/mcp_integration/config_manager.py
  src/mcp_integration/docker_mcp_client.py
  src/mcp_integration/hybrid_router.py
  src/mcp_integration/parallel_executor.py
  src/utils/__init__.py
  src/utils/logging_mixin.py
Due: black, ruff, mypy, bandit

feat(ui): Phase 1 Issue 5 - Gradio UI Foundation with Security Enhancements
  pyproject.toml
  src/ui/components/__init__.py
  src/ui/components/shared/__init__.py
  src/ui/components/shared/export_utils.py
  src/ui/journeys/__init__.py
  src/ui/journeys/journey1_smart_templates.py
  src/ui/multi_journey_interface.py
  test_remediation_fixes.py
  tests/integration/test_security_fixes.py
Due: black, ruff, mypy, bandit

fix(ui): correct LoggerMixin import in multi_journey_interface
  src/ui/multi_journey_interface.py
Due: black, ruff, mypy, bandit

deps: update lockfile and requirements for python-magic dependency
  poetry.lock
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
Due: none

fix: resolve critical import errors preventing CI/CD pipeline
  src/ui/journeys/journey1_smart_templates.py
  src/ui/multi_journey_interface.py
Due: black, ruff, mypy, bandit

security: fix 4 CodeQL regex vulnerabilities in export_utils.py
  src/ui/components/shared/export_utils.py
Due: black, ruff, mypy, bandit

security: completely eliminate regex vulnerabilities in export_utils.py
  src/ui/components/shared/export_utils.py
Due: black, ruff, mypy, bandit

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
  bandit: any of: \.py$
