Repository williaby/PromptCraft: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit

black:
  name: black
  entry: poetry run black
  language: system

ruff:
  name: ruff
  entry: poetry run ruff check --fix
  language: system
  args:
  - --exit-non-zero-on-fix

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  args:
  - --config-file=pyproject.toml

bandit:
  name: bandit
  entry: poetry run bandit
  language: system
  args:
  - -c
  - pyproject.toml

🔧 fix: add comprehensive performance test instrumentation for CI diagnosis
  tests/performance/test_auth_performance.py
Due: black, ruff, bandit

🔧 fix: isolate performance tests to prevent 30-minute timeout in CI
  .github/workflows/ci.yml
Due: none

🔧 fix: resolve critical database timeout causing 120-second performance degradation
  tests/performance/test_auth_performance.py
Due: black, ruff, bandit

fix: implement comprehensive database mocking to resolve CI performance test timeouts
  tests/performance/test_auth_performance.py
Due: black, ruff, bandit

fix: resolve 4 core Python test failures
  tests/unit/database/test_connection.py
  tests/unit/test_circuit_breaker.py
  tests/unit/test_config_management.py
Due: black, ruff, bandit

refactor: eliminate separate performance test step and restore unified CI process
  .github/workflows/ci.yml
  tests/performance/test_ui_load_performance.py
  tests/unit/database/test_connection.py
Due: black, ruff, bandit

fix: implement early patching to resolve CI performance test database timeouts
  tests/unit/database/test_connection.py
Due: black, ruff, bandit

fix: eliminate global database patch and implement targeted test fixes
  tests/performance/test_auth_performance.py
  tests/performance/test_performance_requirements.py
  tests/unit/database/test_connection.py
Due: black, ruff, bandit

fix: apply mocked_auth_db fixture to failing auth performance tests
  tests/performance/test_auth_performance.py
Due: black, ruff, bandit

fix: apply mocked_auth_db fixture to critical auth performance tests
  tests/performance/test_auth_performance.py
Due: black, ruff, bandit

feat: implement MVP performance testing strategy to accelerate delivery
  .github/workflows/ci.yml
  tests/performance/test_auth_performance.py
  tests/smoke/__init__.py
  tests/smoke/test_performance_smoke.py
Due: black, ruff, bandit

fix: simplify MVP smoke tests to avoid middleware complexity
  tests/smoke/test_performance_smoke.py
Due: black, ruff, bandit

fix: resolve final circuit breaker test and cleanup temporary files
  ab_testing.db
  analytics.db
  fix_security_issues.py
  tests/unit/test_circuit_breaker.py
Due: black, ruff, mypy, bandit

fix: resolve critical linting issues for CI success
  src/auth/models.py
  src/auth_simple/cloudflare_auth.py
  src/auth_simple/example_usage.py
Due: black, ruff, mypy, bandit

fix: requirements-dev.txt to reduce vulnerabilities
  requirements-dev.txt
Due: none

fix: resolve 80% of linting issues for CI success
  src/auth_simple/cloudflare_auth.py
  src/auth_simple/example_usage.py
  src/auth_simple/middleware.py
  src/auth_simple/whitelist.py
  src/automation/token_rotation_scheduler.py
  src/main.py
  tests/base/integration_test_base.py
  tests/fixtures/__init__.py
  tests/unit/core/test_ab_testing_framework.py
  tests/unit/core/test_user_control_system.py
Due: black, ruff, mypy, bandit

fix: apply final linting fixes and formatting
  src/auth_simple/example_usage.py
  src/auth_simple/whitelist.py
  src/automation/token_rotation_scheduler.py
  tests/fixtures/__init__.py
  tests/unit/core/test_ab_testing_framework.py
Due: black, ruff, mypy, bandit

fix: update config management test expectations for auto-generated database_url
  tests/unit/test_config_management.py
Due: black, ruff, bandit

fix: resolve CI test failures and Black formatting issue
  ab_testing.db
  analytics.db
  src/auth_simple/whitelist.py
  tests/unit/test_config_management.py
Due: black, ruff, mypy, bandit

fix: resolve all remaining linting errors for CI success
  src/auth_simple/example_usage.py
  src/automation/token_rotation_scheduler.py
  src/core/ab_testing_models.py
  src/utils/datetime_compat.py
  tests/fixtures/auth_simple_fixtures.py
  tests/fixtures/database.py
  tests/fixtures/service_container_fixtures.py
  tests/integration/test_service_token_integration.py
  tests/unit/api/test_auth_endpoints.py
  tests/unit/auth/conftest.py
  tests/unit/core/test_ab_testing_framework.py
Due: black, ruff, mypy, bandit

security: document GitGuardian alert resolution and add prevention measures
  .gitguardian-resolution.md
  .gitignore
  src/auth_simple/example_usage.py
  src/automation/token_rotation_scheduler.py
Due: black, ruff, mypy, bandit

fix: resolve all linting issues and add dependency-review workflow
  .github/workflows/dependency-review.yml
  src/auth_simple/example_usage.py
  src/automation/token_rotation_scheduler.py
Due: black, ruff, mypy, bandit

security: upgrade h2 dependency from 4.2.0 to 4.3.0
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
Due: none

fix: remove problematic azurite feature from devcontainer
  .devcontainer/devcontainer.json
Due: none

fix: address PR review feedback and resolve MCP vulnerabilities
  .devcontainer/devcontainer.json
  poetry.lock
  pyproject.toml
Due: none

fix: resolve Starlette DoS vulnerability (GHSA-2c2j-9gv5-cj73)
  poetry.lock
  pyproject.toml
Due: none

fix: update requirements files to sync with poetry.lock changes
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
Due: none

Update .devcontainer/devcontainer.json
  .devcontainer/devcontainer.json
Due: none

hotfix: fix Codespaces prebuild failure by removing problematic azurite feature (#227)
  .devcontainer/devcontainer.json
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
Due: none

fix: requirements-docker.txt to reduce vulnerabilities
  requirements-docker.txt
Due: none

security: resolve all Semgrep issues with SQL injection fixes and false positive suppressions
  .semgrep.yml
  scripts/migration_validator.py
  scripts/sqlite_to_postgresql_analysis.py
  src/core/hyde_processor.py
Due: black, ruff, mypy, bandit

Update .semgrep.yml
  .semgrep.yml
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
  bandit: any of: \.py$
