Repository williaby/PromptCraft: changes, and which Codecov flags are due for each by the changed paths.
All: unit, auth, integration, Core Business Logic, Agent System, Authentication & Security, Configuration Management, Utility Modules, User Interface, API Layer, MCP Integration, performance, stress, mutation, Core Engine, Configuration, Utilities, Knowledge Ingestion

fix(ci): resolve 5 critical MyPy errors blocking PR #223 merge
  mypy.ini
Due: none

test: trigger CI to verify MyPy configuration fix
  mypy.ini
Due: none

fix(types): resolve original 5 MyPy import-not-found errors by adding namespace package support
  mypy.ini
  pyproject.toml
Due: none

fix(ci): remove redundant dependency management to resolve submit-pypi failure
  .github/dependabot.yml
  .github/workflows/dependency-review.yml
Due: none

fix(mypy): resolve duplicate module detection error for agents
  pyproject.toml
Due: none

fix(mypy): resolve CI import errors with minimal namespace package configuration
  pyproject.toml
Due: none

fix(monitoring): add missing monitoring modules to resolve CI MyPy errors
  .gitignore
  docs/monitoring/token-optimization-monitoring-guide.md
  src/monitoring/__init__.py
  src/monitoring/ab_testing_dashboard.py
  src/monitoring/integration_utils.py
  src/monitoring/metrics_collector.py
  src/monitoring/performance_dashboard.py
  src/monitoring/service_token_monitor.py
  tests/unit/monitoring/test_ab_testing_dashboard.py
  tests/unit/monitoring/test_ab_testing_dashboard_basic.py
  tests/unit/monitoring/test_integration_utils.py
  tests/unit/monitoring/test_metrics_collector.py
  tests/unit/monitoring/test_metrics_collector_basic.py
  tests/unit/monitoring/test_performance_dashboard.py
  tests/unit/monitoring/test_service_token_monitor.py
Due: unit, auth, integration, performance, stress, mutation

fix(formatting): resolve linting compatibility with StructuredLogger
  src/monitoring/__init__.py
Due: unit, auth, integration, performance, stress, mutation

fix(types): resolve all 52 MyPy errors from linting refactor
  src/agents/test_engineering_agent.py
  src/core/ab_testing_framework.py
  src/monitoring/performance_dashboard.py
  src/utils/observability.py
Due: unit, auth, integration, Core Business Logic, Agent System, Utility Modules, performance, stress, mutation, Core Engine, Utilities

feat(linting): achieve 92% lint error reduction completing Phase 2C optimization
  examples/fallback_system_demo.py
  fix_security_issues.py
  pytest_plugins/coverage_hook_plugin.py
  scripts/coverage_automation/classifier.py
  scripts/run_dynamic_function_loading_demo.py
  src/api/ab_testing_endpoints.py
  src/api/auth_endpoints.py
  src/api/dynamic_loading_endpoints.py
  src/api/role_endpoints.py
  src/auth/exceptions.py
  src/auth/middleware.py
  src/auth/types.py
  src/core/analytics_engine.py
  src/monitoring/ab_testing_dashboard.py
  src/monitoring/integration_utils.py
  src/monitoring/metrics_collector.py
  src/utils/datetime_compat.py
  tests/core/__init__.py
  tests/core/test_conservative_fallback_chain.py
  tests/fixtures/isolation.py
  tests/integration/test_ab_testing_framework.py
  tests/integration/test_dynamic_loading_prototype.py
  tests/integration/test_service_token_integration.py
  tests/unit/api/test_dynamic_loading_endpoints.py
  tests/unit/core/test_function_loading_demo.py
  tests/unit/examples/test_task_detection_integration.py
  tests/unit/monitoring/__init__.py
  tests/unit/monitoring/test_service_token_monitor.py
  tests/unit/ui/test_multi_journey_interface_functional.py
Due: unit, auth, integration, Core Business Logic, Authentication & Security, Utility Modules, API Layer, performance, stress, mutation, Core Engine, Utilities

fix(lint): complete resolution of all 26 blocking lint errors for PR #223
  fix_security_issues.py
  src/auth/exceptions.py
  src/monitoring/ab_testing_dashboard.py
  src/monitoring/metrics_collector.py
  tests/integration/test_service_token_integration.py
  tests/unit/api/test_ab_testing_endpoints.py
  tests/unit/api/test_auth_endpoints.py
Due: unit, auth, integration, Authentication & Security, performance, stress, mutation

fix(lint): resolve final 2 lint errors (S607 and RUF100) achieving 100% success
  fix_security_issues.py
Due: none

security: fix GitGuardian false positive and enhance Bandit suppressions
  fix_security_issues.py
  tests/unit/api/test_auth_endpoints.py
Due: none

security: apply GitGuardian gg:ignore suppression for test token
  tests/unit/api/test_auth_endpoints.py
Due: none

security: resolve GitGuardian false positive by replacing high-entropy test token
  .gitguardian.yml
  tests/unit/api/test_auth_endpoints.py
Due: none

feat(auth4): complete AUTH-4 Enhanced Security Event Logging implementation
  .gitignore
  .tmp-auth4-validation-report-20250826.md
  database_consolidation_spike.py
  migrations/20250125_add_security_monitor_tables.py
  migrations/20250126_alter_security_events_for_logger.py
  postgresql_performance_spike.py
  postgresql_performance_validation_corrected.py
  scripts/homelab_connection_pool_analysis.py
  scripts/migrate_security_events_to_postgres.py
  scripts/sqlite_to_postgresql_analysis.py
  src/auth/api/routers/analytics_router.py
  src/auth/api/routers/audit_router.py
  src/auth/api/routers/charts_router.py
  src/auth/api/routers/events_router.py
  src/auth/api/routers/health_router.py
  src/auth/api/security_dashboard_endpoints.py
  src/auth/database/security_events_postgres.py
  src/auth/models.py
  src/auth/security_monitor.py
  src/auth/services/audit_service.py
  src/auth/services/health_assessor.py
  src/auth/services/metrics_calculator.py
  src/auth/services/mock_data_service.py
  src/auth/services/risk_analyzer.py
  src/auth/services/security_integration.py
  src/auth/services/security_logger.py
  src/auth/services/security_monitor.py
  src/auth/services/suspicious_activity_detector.py
  src/auth/ui/security_dashboard.py
  tests/fixtures/database_fixtures.py
  tests/fixtures/security_service_mocks.py
  tests/integration/test_auth4_security_workflow.py
  tests/performance/test_auth4_performance_requirements.py
  tests/performance/test_auth_middleware_database.py
  tests/unit/auth/api/test_security_dashboard_endpoints.py
  tests/unit/auth/services/test_alert_engine.py
  tests/unit/auth/services/test_audit_service.py
  tests/unit/auth/services/test_security_logger.py
  tests/unit/auth/services/test_suspicious_activity_detector.py
  tests/unit/auth/test_security_event_models.py
Due: unit, auth, integration, Authentication & Security, performance, stress, mutation

fix(tests): AUTH-4 Priority 8 test linting fixes
  .mcp.json
  .tmp-auth4-priority5-completion-report.md
  .tmp-auth4-priority6-completion-report.md
  .tmp-auth4-utc-compatibility-20250826.md
  .tmp-test-failures-tracking-20250826.md
  database_consolidation_spike.py
  postgresql_performance_spike.py
  postgresql_performance_validation_corrected.py
  scripts/homelab_performance_validation.py
  src/auth/api/routers/health_router.py
  src/auth/api/routers/metrics_router.py
  src/auth/api/security_dashboard_endpoints.py
  src/auth/database/security_events_postgres.py
  src/auth/models.py
  src/auth/security_logger.py
  src/auth/security_monitor.py
  src/auth/services/alert_engine.py
  src/auth/services/audit_service.py
  src/auth/services/security_integration.py
  src/auth/services/security_monitor.py
  src/auth/services/suspicious_activity_detector.py
  src/auth/ui/security_dashboard.py
  src/config/settings.py
  src/database/connection.py
  src/database/models.py
  tests/fixtures/__init__.py
  tests/fixtures/database_fixtures.py
  tests/fixtures/security_service_mocks.py
  tests/integration/test_auth4_security_workflow.py
  tests/unit/auth/services/test_audit_service.py
  tests/unit/auth/services/test_security_monitor.py
  tests/unit/auth/services/test_suspicious_activity_detector.py
  tests/unit/auth/test_security_event_models.py
  tests/unit/database/test_connection.py
  tests/unit/database/test_models.py
  tests/unit/test_config_management.py
Due: unit, auth, integration, Authentication & Security, Configuration Management, performance, stress, mutation, Configuration

feat(services): major service layer refactoring with dependency injection
  src/auth/alert_engine.py
  src/auth/audit_service.py
  src/auth/middleware.py
  src/auth/models.py
  src/auth/security_logger.py
  src/auth/security_monitor.py
  src/auth/service_token_manager.py
  src/auth/services/__init__.py
  src/auth/services/alert_engine.py
  src/auth/services/audit_service.py
  src/auth/services/bootstrap.py
  src/auth/services/container.py
  src/auth/services/fastapi_integration.py
  src/auth/services/health_assessor.py
  src/auth/services/metrics_calculator.py
  src/auth/services/mock_data_service.py
  src/auth/services/notification_handlers.py
  src/auth/services/risk_analyzer.py
  src/auth/services/security_integration.py
  src/auth/services/security_logger.py
  src/auth/services/security_monitor.py
  src/auth/services/suspicious_activity_detector.py
  src/auth/suspicious_activity_detector.py
Due: unit, auth, integration, Authentication & Security, performance, stress, mutation

test(fixtures): enhance test fixtures and mocking infrastructure
  tests/fixtures/__init__.py
  tests/fixtures/api_router_fixtures.py
  tests/fixtures/security_service_mocks.py
  tests/fixtures/service_container_fixtures.py
  tests/unit/auth/conftest.py
Due: none

feat(auth4): MAJOR Priority 8 breakthrough - database fixture errors resolved
  tests/fixtures/security_service_mocks.py
Due: none

test(api): comprehensive API router tests and endpoint improvements
  src/api/auth_endpoints.py
  src/auth/api/routers/alerts_router.py
  src/auth/api/routers/analytics_router.py
  src/auth/api/routers/audit_router.py
  src/auth/api/routers/charts_router.py
  src/auth/api/routers/health_router.py
  src/auth/api/routers/metrics_router.py
  src/auth/api/routers/users_router.py
  src/auth/api/security_dashboard_endpoints.py
  src/auth/ui/security_dashboard.py
  tests/unit/api/test_auth_endpoints.py
  tests/unit/auth/api/conftest.py
  tests/unit/auth/api/routers/test_alerts_router.py
  tests/unit/auth/api/routers/test_analytics_router.py
  tests/unit/auth/api/routers/test_audit_router.py
  tests/unit/auth/api/routers/test_charts_router.py
  tests/unit/auth/api/routers/test_events_router.py
  tests/unit/auth/api/routers/test_health_router.py
  tests/unit/auth/api/routers/test_metrics_router.py
  tests/unit/auth/api/routers/test_users_router.py
  tests/unit/auth/api/test_security_dashboard_clean.py
  tests/unit/auth/api/test_security_dashboard_endpoints.py
  tests/unit/auth/api/test_security_dashboard_final_coverage.py.backup
Due: unit, auth, integration, Authentication & Security, API Layer, performance, stress, mutation

test(database): comprehensive database layer and integration tests
  src/auth/database/security_events_postgres.py
  src/database/models.py
  tests/integration/test_auth4_security_workflow.py
  tests/integration/test_auth_integration.py
  tests/integration/test_mcp_config_integration.py
  tests/integration/test_service_token_integration.py
  tests/performance/test_auth4_performance_requirements.py
  tests/performance/test_auth_performance.py
  tests/unit/auth/database/test_security_events_postgres.py
  tests/unit/auth/services/test_alert_engine.py
  tests/unit/auth/services/test_audit_service.py
  tests/unit/auth/services/test_bootstrap.py
  tests/unit/auth/services/test_container_comprehensive.py
  tests/unit/auth/services/test_fastapi_integration.py
  tests/unit/auth/services/test_health_assessor.py
  tests/unit/auth/services/test_metrics_calculator.py
  tests/unit/auth/services/test_mock_data_service.py
  tests/unit/auth/services/test_notification_handlers_comprehensive.py
  tests/unit/auth/services/test_risk_analyzer.py
  tests/unit/auth/services/test_security_integration_comprehensive.py
  tests/unit/auth/services/test_security_logger.py
  tests/unit/auth/services/test_security_monitor.py
  tests/unit/auth/services/test_suspicious_activity_detector.py
Due: unit, auth, integration, Authentication & Security, performance, stress, mutation

feat(config): final cleanup, configuration updates, and test coverage
  .claude/commands/shared/model_utils.sh
  .gitignore
  .tmp-auth4-emergency-remediation-20250826.md
  AUTH4-FINAL-COMPLETION-SUMMARY.md
  audit_logs/audit_20250826.jsonl
  audit_logs/audit_20250827.jsonl
  audit_logs/audit_20250828.jsonl
  audit_logs/audit_20250829.jsonl
  audit_logs/audit_20250830.jsonl
  pyproject.toml
  scripts/homelab_performance_validation.py
  src/automation/token_rotation_scheduler.py
  src/config/health.py
  src/config/settings.py
  src/main.py
  src/security/audit_logging.py
  src/ui/components/shared/export_utils.py
  tests/auth/test_auth_negative_paths.py
  tests/performance/test_auth_middleware_database.py
  tests/unit/auth/test_alert_engine.py
  tests/unit/auth/test_audit_service_proper.py
  tests/unit/auth/test_jwt_validator_comprehensive.py
  tests/unit/auth/test_middleware.py
  tests/unit/auth/test_security_event_models.py
  tests/unit/auth/test_service_token_manager.py
  tests/unit/auth/test_stateless_security_monitor.py
  tests/unit/auth/test_suspicious_activity_detector.py
  tests/unit/config/test_health.py
  tests/unit/database/test_models.py
  tests/unit/test_additional_coverage.py
  tests/unit/test_circuit_breaker.py
  tests/unit/test_encryption_integration.py
  tests/unit/test_health_check.py
  tests/unit/test_main.py
  tests/unit/test_mcp_client_coverage.py
  tests/unit/test_security_hardening.py
  tests/unit/test_time_utils.py
  tests/unit/test_vector_store.py
Due: unit, auth, integration, Authentication & Security, Configuration Management, User Interface, performance, stress, mutation, Configuration

chore: remove temporary development files and migration artifacts
  .claude/settings.local.json.backup
  .tmp-auth4-final-remediation-report-20250826.md
  .tmp-auth4-phase-validation-20250825.md
  .tmp-auth4-priority5-completion-report.md
  .tmp-auth4-priority6-completion-report.md
  .tmp-auth4-refactoring-progress-20250826.md
  .tmp-auth4-utc-compatibility-20250826.md
  .tmp-auth4-validation-report-20250826.md
  .tmp-sqlite-postgresql-migration-validation-report-20250826.md
  .tmp-test-failures-tracking-20250826.md
  AUTH4-JWT-TEST-REMEDIATION-COMPLETE.md
  database_consolidation_spike.py
  migration_validation_results.json
  migrations/20250125_add_security_monitor_tables.py
  migrations/20250126_add_security_events_table.py
  migrations/20250126_alter_security_events_for_logger.py
  migrations/__init__.py
  postgresql_performance_spike.py
  postgresql_performance_validation_corrected.json
  postgresql_performance_validation_corrected.py
  postgresql_validation_queries.sql
  sqlite_migration_analysis.json
  sqlite_to_postgresql_migration_report.md
  tests/helpers/__init__.py
  tests/helpers/token_utils.py
  validation_report.txt
Due: none

fix(auth): address PR review comments about FastAPI Query validation
  src/auth/api/routers/alerts_router.py
  src/auth/api/routers/audit_router.py
  src/auth/api/routers/charts_router.py
  src/auth/api/routers/metrics_router.py
Due: unit, auth, integration, Authentication & Security, performance, stress, mutation

fix(auth): resolve timezone warnings in datetime.now() calls
  src/auth/api/routers/alerts_router.py
  src/auth/api/routers/analytics_router.py
  src/auth/api/routers/audit_router.py
  src/auth/api/routers/events_router.py
Due: unit, auth, integration, Authentication & Security, performance, stress, mutation

fix(auth): partial linting fixes for alerts_router.py
  src/auth/api/routers/alerts_router.py
Due: unit, auth, integration, Authentication & Security, performance, stress, mutation

fix(auth): resolve all linting issues across router files
  src/auth/api/routers/alerts_router.py
  src/auth/api/routers/analytics_router.py
  src/auth/api/routers/audit_router.py
  src/auth/api/routers/charts_router.py
  src/auth/api/routers/events_router.py
  src/auth/api/routers/health_router.py
  src/auth/api/routers/metrics_router.py
  src/auth/api/routers/users_router.py
Due: unit, auth, integration, Authentication & Security, performance, stress, mutation

clean up temporary files
  .tmp-auth-issues-revision.md
  .tmp-auth-streamlining-analysis-20250827.md
  .tmp-auth-streamlining-proposal-20250827.md
  .tmp-auth4-15-failures-resolution-20250827.md
  .tmp-auth4-emergency-remediation-20250826.md
  .tmp-auth4-final-completion-summary-20250826.md
  .tmp-auth4-final-validation-summary-20250827.md
  .tmp-auth4-router-test-fixes-20250827.md
  .tmp-auth4-test-coverage-analysis-20250827.md
  .tmp-auth4-test-failures-analysis-20250828.md
  .tmp-auth4-ultimate-completion-summary-20250826.md
  .tmp-auth4-zero-failures-completion-20250829.md
  .tmp-comprehensive-test-fix-plan-20250829.md
  .tmp-coverage-analysis-below-20-percent.md
  .tmp-dashboard-refined-test-plan-20250830.md
  .tmp-dashboard-test-coverage-analysis-20250830.md
  .tmp-dashboard-tests-failing-20250830.md
  .tmp-dashboard-tests-validation.md
  .tmp-jwt-test-remediation-20250831.md
  .tmp-pr-description-auth4.md
  .tmp-rebase-pr224-conflicts-20250131.md
  .tmp-router-tests-validation-summary.md
  .tmp-security-dashboard-final-implementation-success.md
  .tmp-security-dashboard-test-coverage-final-summary.md
  .tmp-semgrep-resolution-20250831.md
  .tmp-test-coverage-analysis-20250827.md
  .tmp-test-failure-analysis-20250829.md
  .tmp-test-failure-resolution-20250827.md
  .tmp-test-failures-analysis-20250826.md
  .tmp-test-fix-comprehensive-plan-20250829.md
  .tmp-test-remediation-20250828.md
  .tmp-zen-layered-consensus-solution.md
  CLAUDE.md
Due: none

🔒 fix: resolve critical log injection vulnerability in authentication middleware
  src/auth/middleware.py
Due: unit, auth, integration, Authentication & Security, performance, stress, mutation

🔒 security: resolve GitGuardian hardcoded secrets alert (ID: 20539222)
  .gitignore
Due: none

chore: apply final linter formatting fixes
  src/auth/security_logger.py
  src/auth/services/audit_service.py
  src/auth/services/fastapi_integration.py
  src/auth/services/security_integration.py
  tests/performance/test_auth_middleware_database.py
  tests/unit/api/test_auth_endpoints.py
  tests/unit/auth/api/routers/test_analytics_router.py
  tests/unit/auth/api/routers/test_audit_router.py
  tests/unit/auth/services/test_risk_analyzer.py
  tests/unit/auth/services/test_security_integration_comprehensive.py
  tests/unit/auth/test_middleware.py
Due: unit, auth, integration, Authentication & Security, performance, stress, mutation

Path conditions:
  unit: any of: src/
  auth: (any of: src/) or (any of: src/auth/, src/utils/encryption.py)
  integration: any of: src/
  Core Business Logic: any of: src/core/
  Agent System: any of: src/agents/
  Authentication & Security: (any of: src/auth/, src/security/) or (any of: src/auth/)
  Configuration Management: any of: src/config/
  Utility Modules: any of: src/utils/
  User Interface: any of: src/ui/
  API Layer: any of: src/api/
  MCP Integration: any of: src/mcp_integration/
  performance: any of: src/
  stress: any of: src/
  mutation: any of: src/
  Core Engine: any of: src/core/
  Configuration: any of: src/config/
  Utilities: any of: src/utils/
  Knowledge Ingestion: any of: src/ingestion/
