Repository williaby/PromptCraft: changes, and which Codecov flags are due for each by the changed paths.
All: python-3.11, python-3.12, Core Business Logic, Agent System, Authentication & Security, Configuration Management, Utility Modules, User Interface, API Layer, MCP Integration, unit, integration, performance, stress, auth, mutation, Core Engine, Configuration, Utilities, Knowledge Ingestion

Path conditions:
  python-3.11: any of: src/
  python-3.12: any of: src/
  Core Business Logic: any of: src/core/
  Agent System: any of: src/agents/
  Authentication & Security: (any of: src/auth/, src/security/) or (any of: src/auth/)
  Configuration Management: any of: src/config/
  Utility Modules: any of: src/utils/
  User Interface: any of: src/ui/
  API Layer: any of: src/api/
  MCP Integration: any of: src/mcp_integration/
  unit: any of: src/
  integration: any of: src/
  performance: any of: src/
  stress: any of: src/
  auth: any of: src/auth/, src/utils/encryption.py
  mutation: any of: src/
  Core Engine: any of: src/core/
  Configuration: any of: src/config/
  Utilities: any of: src/utils/
  Knowledge Ingestion: any of: src/ingestion/

fix: remove invalid requires-poetry property from pyproject.toml
  pyproject.toml
Due: none

fix: resolve CI test failures and environment validation issues
  Makefile
  ab_testing.db
  analytics.db
  scripts/mypy_ci_match.py
  src/agents/discovery.py
  src/auth_simple/config.py
  src/auth_simple/middleware.py
  src/config/settings.py
  src/data/knowledge_ingestion.py
  src/mcp_integration/config_manager.py
  src/mcp_integration/connection_bridge.py
  src/mcp_integration/mcp_orchestrator.py
  src/mcp_integration/message_router.py
  src/mcp_integration/smart_discovery.py
  src/monitoring/ab_testing_dashboard.py
  src/security/rate_limiting.py
  src/ui/admin/tier_management_interface.py
  tests/integration/test_auth_integration.py
  tests/integration/test_qdrant_vector_store_integration.py
Due: python-3.11, python-3.12, Agent System, Authentication & Security, Configuration Management, User Interface, MCP Integration, unit, integration, performance, stress, mutation, Configuration

docs: add MyPy CI alignment tool documentation
  docs/mypy-ci-alignment.md
Due: none

fix: update Poetry version in UI testing pipeline to match project standard
  .github/workflows/ui-testing-pipeline.yml
Due: none

fix: correct all Playwright reporter syntax errors in CI pipeline
  .github/workflows/ui-testing-pipeline.yml
Due: none

fix: resolve MyPy no-any-return errors introduced by linting fixes
  .github/workflows/ui-testing-pipeline.yml
  src/agents/discovery.py
  src/api/hybrid_infrastructure_endpoints.py
Due: python-3.11, python-3.12, Agent System, API Layer, unit, integration, performance, stress, mutation

fix: install all Playwright browsers to support global setup/teardown
  .github/workflows/ui-testing-pipeline.yml
Due: none

fix: start Gradio UI application instead of FastAPI backend for UI tests
  .github/workflows/ui-testing-pipeline.yml
Due: none

feat: implement comprehensive pre-merge testing strategy for PRs to main
  .github/workflows/ui-testing-pipeline.yml
Due: none

fix: add missing Python and Poetry setup to comprehensive test jobs
  .github/workflows/ui-testing-pipeline.yml
Due: none

fix: resolve 637 of 655 lint errors for CI compliance (97.3% reduction)
  src/admin/user_tier_manager.py
  src/agents/discovery.py
  src/agents/markdown_agent.py
  src/api/hybrid_infrastructure_endpoints.py
  src/auth/middleware.py
  src/auth/permissions.py
  src/auth_simple/config.py
  src/auth_simple/middleware.py
  src/commands/discovery.py
  src/data/__init__.py
  src/data/knowledge_ingestion.py
  src/main.py
  src/mcp_integration/config_manager.py
  src/mcp_integration/connection_bridge.py
  src/mcp_integration/context7_integration.py
  src/mcp_integration/mcp_orchestrator.py
  src/mcp_integration/message_router.py
  src/mcp_integration/model_registry.py
  src/mcp_integration/protocol_handler.py
  src/mcp_integration/smart_discovery.py
  src/mcp_integration/tool_router.py
  src/mcp_integration/zen_client/client.py
  src/mcp_integration/zen_client/error_handler.py
  src/mcp_integration/zen_client/models.py
  src/mcp_integration/zen_client/subprocess_manager.py
  src/mcp_integration/zen_stdio_client.py
  src/metrics/collector.py
  src/scripts/discovery.py
  src/security/input_validation.py
  src/security/rate_limiting.py
  src/standards/discovery.py
  src/ui/journeys/journey2_intelligent_search.py
  src/ui/multi_journey_interface.py
  src/utils/datetime_compat.py
Due: python-3.11, python-3.12, Agent System, Authentication & Security, Utility Modules, User Interface, API Layer, MCP Integration, unit, integration, performance, stress, auth, mutation, Utilities

fix: resolve 294 E402 import positioning errors across test and script directories
  scripts/check_deps.py
  scripts/generate_test_coverage_fast.py
  scripts/run_dynamic_function_loading_demo.py
  scripts/simplified_coverage_automation.py
  tests/conftest.py
  tests/conftest_backup.py
  tests/examples/test_health_check_demo.py
  tests/fixtures/__init__.py
  tests/integration/test_ab_testing_framework.py
  tests/integration/test_auth_integration.py
  tests/integration/test_dynamic_loading_prototype.py
  tests/integration/test_service_token_integration.py
  tests/performance/test_auth_performance.py
  tests/unit/auth/test_service_token_manager.py
  tests/unit/mcp_integration/test_context7_integration.py
  tests/unit/scripts/test_coverage_automation.py
  tests/unit/scripts/test_validate_gradio_integration.py
  tests/unit/test_mcp_client_and_config_coverage.py
  tests/unit/test_noxfile.py
  tests/unit/test_pytest_plugins_coverage_hook.py
  tests/unit/test_vector_store_core.py
  tests/unit/utils/test_datetime_compat.py
Due: none

fix: resolve 187 lint errors and Black formatting issues for CI compliance
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  scripts/simplified_coverage_automation.py
  src/core/comprehensive_prototype_demo.py
  src/monitoring/performance_dashboard.py
  tests/conftest.py
  tests/unit/auth/test_constants.py
  tests/unit/auth/test_init_comprehensive.py
  tests/unit/auth/test_middleware.py
  tests/unit/auth/test_models_enhanced.py
  tests/unit/auth/test_permissions_system.py
  tests/unit/automation/test_token_rotation_scheduler.py
  tests/unit/mcp_integration/test_mcp_orchestrator.py
  tests/unit/mcp_integration/test_message_router.py
  tests/unit/mcp_integration/test_smart_discovery.py
  tests/unit/mcp_integration/zen_client/test_error_handler.py
  tests/unit/scripts/test_coverage_automation.py
  tests/unit/security/test_audit_logging_comprehensive.py
  tests/unit/security/test_input_validation_comprehensive.py
  tests/unit/standards/test_discovery_enhanced.py
  tests/unit/standards/test_standards_discovery.py
Due: python-3.11, python-3.12, Core Business Logic, unit, integration, performance, stress, mutation, Core Engine

fix: resolve F821 undefined name errors and partial G004 logging format fixes
  scripts/rad_ai_verifier.py
  scripts/rad_fix_applier.py
  scripts/verify-assumptions-smart.py
  tests/contract/mcp_test_client.py
  tests/performance/test_auth_performance.py
  tests/unit/auth/test_init_comprehensive.py
  tests/unit/auth/test_middleware.py
Due: none

fix: eliminate all G004 logging f-string errors and achieve 43% lint reduction
  tests/fixtures/database.py
  tests/fixtures/docker_utils.py
  tests/fixtures/heimdall_stub.py
  tests/fixtures/local_mcp_servers.py
Due: none

fix: resolve INP001 namespace packages and partial PT011 pytest fixes
  tests/integration/test_auth_database_integration.py
  tests/unit/agents/__init__.py
  tests/unit/api/test_dynamic_loading_endpoints.py
  tests/unit/auth/test_middleware.py
  tests/unit/auth/test_models_enhanced.py
  tests/unit/auth_simple/__init__.py
  tests/unit/auth_simple/test_whitelist.py
  tests/unit/automation/__init__.py
  tests/unit/commands/__init__.py
  tests/unit/core/vector_stores/__init__.py
  tests/unit/metrics/__init__.py
  tests/unit/metrics/test_storage.py
  tests/unit/security/__init__.py
  tests/unit/standards/__init__.py
  tests/unit/standards/test_standards_discovery.py
Due: none

fix: eliminate all PT011 pytest raises errors - complete category resolution
  tests/unit/auth_simple/test_config.py
  tests/unit/mcp_integration/test_protocol_handler.py
  tests/unit/mcp_integration/zen_client/test_error_handler.py
  tests/unit/standards/test_discovery_enhanced.py
  tests/unit/standards/test_standards_discovery.py
  tests/unit/ui/journeys/test_journey2_intelligent_search.py
Due: none

fix: eliminate N806 and PTH123 errors - complete category resolution
  .claude/scripts/ai_tools_validator.py
  .claude/scripts/mcp-config-to-commands.py
  src/mcp_integration/smart_discovery.py
  tests/unit/api/test_dynamic_loading_endpoints.py
  tests/unit/core/test_ab_testing_framework.py
  tests/unit/core/test_ab_testing_framework_comprehensive.py
  tests/unit/mcp_integration/test_zen_stdio_client.py
  tests/unit/metrics/test_collector.py
  tests/unit/test_launch_admin.py
Due: python-3.11, python-3.12, MCP Integration, unit, integration, performance, stress, mutation

fix: resolve critical PTH123, N806, and INP001 errors for CI compliance
  .claude/scripts/ai_tools_validator.py
  .claude/scripts/mcp-config-to-commands.py
  src/mcp_integration/smart_discovery.py
  tests/unit/core/test_ab_testing_framework.py
  tests/unit/core/test_ab_testing_framework_comprehensive.py
Due: python-3.11, python-3.12, MCP Integration, unit, integration, performance, stress, mutation

fix: resolve 13 lint errors (PTH123, N806, INP001, S106) for major CI progress
  tests/integration/test_user_tier_integration.py
  tests/unit/agents/test_agent_discovery.py
  tests/unit/auth/test_init_comprehensive.py
  tests/unit/auth/test_middleware.py
  tests/unit/metrics/test_storage.py
  tests/unit/test_launch_admin.py
Due: none

fix: eliminate 37 additional lint errors achieving 46% total reduction
  .claude/scripts/mcp-config-to-commands.py
  alembic/env.py
  tests/integration/test_auth_database_integration.py
  tests/unit/agents/test_agent_discovery.py
  tests/unit/api/test_hybrid_infrastructure_endpoints.py
  tests/unit/auth_simple/test_example_usage.py
  tests/unit/core/test_ab_testing_framework_comprehensive.py
  tests/unit/mcp_integration/zen_client/test_error_handler.py
Due: none

fix: eliminate 14 additional lint errors achieving 58% total reduction
  .claude/scripts/ai_tools_validator.py
  .claude/scripts/mcp-config-to-commands.py
  .claude/scripts/tools_ai_validate_launcher.py
  alembic/env.py
  scripts/launch_admin.py
  src/auth/models.py
  src/mcp_integration/connection_bridge.py
  src/mcp_integration/smart_discovery.py
  src/mcp_integration/zen_client/subprocess_manager.py
  tests/fixtures/docker_utils.py
  tests/fixtures/local_mcp_servers.py
  tests/unit/agents/test_agent_discovery.py
  tests/unit/api/test_ab_testing_endpoints.py
  tests/unit/api/test_hybrid_infrastructure_endpoints.py
  tests/unit/auth/test_models_enhanced.py
  tests/unit/auth_simple/test_example_usage.py
  tests/unit/core/test_ab_testing_framework_comprehensive.py
  tests/unit/mcp_integration/test_smart_discovery.py
  tests/unit/standards/test_standards_discovery.py
  tests/unit/test_launch_admin.py
  tests/unit/ui/test_multi_journey_interface_enhanced_coverage.py
Due: python-3.11, python-3.12, Authentication & Security, MCP Integration, unit, integration, performance, stress, auth, mutation

fix: eliminate 12 additional lint errors achieving 62% total reduction
  .claude/scripts/ai_tools_validator.py
  .claude/scripts/tools_ai_validate_launcher.py
  alembic/env.py
  src/mcp_integration/smart_discovery.py
  src/ui/multi_journey_interface.py
  tests/contract/run_contract_tests.py
  tests/fixtures/local_mcp_servers.py
  tests/unit/agents/test_agent_discovery.py
  tests/unit/standards/test_standards_discovery.py
Due: python-3.11, python-3.12, User Interface, MCP Integration, unit, integration, performance, stress, mutation

fix: eliminate 11 additional lint errors achieving 65% total reduction
  .claude/scripts/ai_tools_validator.py
  alembic/env.py
  playwright-report/index.html
  src/mcp_integration/context7_integration.py
  src/mcp_integration/zen_client/error_handler.py
  test-results/.last-run.json
  test-results/results.json
  tests/e2e/journey1-file-upload-security.spec.ts
  tests/e2e/journeys/test-journey1-auth-boundary.spec.ts
  tests/integration/test_auth_integration.py
  tests/integration/test_hybrid_routing_integration.py
  tests/unit/auth/test_permissions_system.py
  tests/unit/auth_simple/test_init.py
  tests/unit/mcp_integration/test_zen_stdio_client.py
  tests/unit/mcp_integration/zen_client/conftest.py
  tests/unit/mcp_integration/zen_client/test_error_handler.py
  tests/unit/security/test_input_validation_comprehensive.py
  tests/unit/security/test_security_middleware_comprehensive.py
  tests/unit/standards/test_standards_discovery.py
Due: python-3.11, python-3.12, MCP Integration, unit, integration, performance, stress, mutation

fix: enable performance benchmarking for PRs targeting main
  .github/workflows/ui-testing-pipeline.yml
Due: none

fix: standardize datetime imports for Python version compatibility
  src/admin/user_tier_manager.py
  src/commands/discovery.py
  src/mcp_integration/models.py
  src/mcp_integration/protocol_handler.py
  src/mcp_integration/zen_client/error_handler.py
  src/scripts/discovery.py
  src/standards/discovery.py
  tests/integration/test_auth_integration.py
  tests/integration/test_hybrid_routing_integration.py
  tests/unit/api/test_ab_testing_endpoints.py
  tests/unit/api/test_hybrid_infrastructure_endpoints.py
  tests/unit/auth_simple/test_example_usage.py
  tests/unit/mcp_integration/zen_client/test_error_handler.py
  tests/unit/mcp_integration/zen_client/test_protocol_bridge.py
  tests/unit/standards/test_standards_discovery.py
Due: python-3.11, python-3.12, MCP Integration, unit, integration, performance, stress, mutation

fix: improve datetime compatibility and reduce SIM117 with-statement nesting
  tests/unit/api/test_dynamic_loading_endpoints.py
  tests/unit/auth/test_middleware.py
  tests/unit/core/test_ab_testing_framework_comprehensive.py
  tests/unit/metrics/test_storage.py
Due: none

fix: apply 14 additional auto-fixable errors
  .claude/scripts/mcp-config-to-commands.py
  src/admin/user_tier_manager.py
  src/commands/discovery.py
  src/mcp_integration/models.py
  src/mcp_integration/protocol_handler.py
  src/scripts/discovery.py
  src/standards/discovery.py
  src/utils/datetime_compat.py
  tests/unit/api/test_ab_testing_endpoints.py
  tests/unit/api/test_hybrid_infrastructure_endpoints.py
  tests/unit/auth_simple/test_example_usage.py
  tests/unit/core/test_ab_testing_framework_comprehensive.py
  tests/unit/metrics/test_storage.py
  tests/unit/standards/test_standards_discovery.py
Due: python-3.11, python-3.12, Utility Modules, MCP Integration, unit, integration, performance, stress, mutation, Utilities

fix: resolve 10 high-severity CodeQL log injection vulnerabilities
  src/api/hybrid_infrastructure_endpoints.py
  src/utils/secure_logging.py
Due: python-3.11, python-3.12, Utility Modules, API Layer, unit, integration, performance, stress, mutation, Utilities

fix: add missing Python/Poetry setup to UI testing pipeline performance job
  .github/workflows/ui-testing-pipeline.yml
Due: none

fix: resolve 19 lint errors (auto-fixes + S105/PLC0206 test fixes)
  tests/unit/auth/test_constants.py
Due: none

fix: achieve 74 lint errors resolved using parallel agent coordination
  tests/unit/scripts/test_script_discovery.py
Due: none

fix: resolve 5 PLC0415 import positioning errors with proper organization
  .claude/scripts/ai_tools_validator.py
  src/agents/discovery.py
  src/agents/registry.py
Due: python-3.11, python-3.12, Agent System, unit, integration, performance, stress, mutation

feat: establish systematic S105/S106 test data annotation pattern
  tests/unit/auth/test_permissions_system.py
Due: none

fix: resolve 2 SIM117 multiple with statement errors using parentheses syntax
  tests/unit/auth_simple/test_config.py
  tests/unit/core/test_ab_testing_framework.py
Due: none

fix: comprehensively resolve 20 lint errors in test_middleware.py (complete)
  tests/unit/auth/test_middleware.py
Due: none

feat: comprehensive lint error resolution with strategic documentation approach
  CLAUDE.md
  docs/planning/import-sequence-troubleshooting.md
  docs/planning/s105-s106-noqa-troubleshooting.md
  src/auth/role_manager.py
  tmp_cleanup/.tmp-lint-resolution-progress-20250113.md
Due: python-3.11, python-3.12, Authentication & Security, unit, integration, performance, stress, auth, mutation

feat: modernization fixes and comprehensive lint configuration resolution
  CLAUDE.md
  docs/planning/import-sequence-troubleshooting.md
  pyproject.toml
  scripts/coverage_automation/classifier.py
  scripts/migration_validator.py
  src/agents/discovery.py
  src/agents/registry.py
  src/api/dynamic_loading_endpoints.py
  src/api/hybrid_infrastructure_endpoints.py
  src/auth/models.py
  src/core/task_detection.py
  src/mcp_integration/protocol_handler.py
  src/utils/setup_validator.py
  tests/contract/test_mcp_contracts.py
  tests/unit/auth/test_constants.py
  tests/unit/auth/test_middleware.py
  tests/unit/auth/test_middleware_security.py
  tests/unit/auth/test_permissions_system.py
  tmp_cleanup/.tmp-lint-resolution-final-20250113.md
Due: python-3.11, python-3.12, Core Business Logic, Agent System, Authentication & Security, Utility Modules, API Layer, MCP Integration, unit, integration, performance, stress, auth, mutation, Core Engine, Utilities
