Repository williaby/PromptCraft: changes, and which Codecov flags are due for each by the changed paths.
All: python-3.11, python-3.12, Core Business Logic, Agent System, Authentication & Security, Configuration Management, Utility Modules, User Interface, API Layer, MCP Integration, unit, integration, performance, stress, auth, mutation, Core Engine, Configuration, Utilities, Knowledge Ingestion

Path conditions:
  python-3.11: any of: src/
  python-3.12: any of: src/
  Core Business Logic: any of: src/core/
  Agent System: any of: src/agents/
  Authentication & Security: (any of: src/auth/, src/security/) or (any of: src/auth/)
  Configuration Management: any of: src/config/
  Utility Modules: any of: src/utils/
  User Interface: any of: src/ui/
  API Layer: any of: src/api/
  MCP Integration: any of: src/mcp_integration/
  unit: any of: src/
  integration: any of: src/
  performance: any of: src/
  stress: any of: src/
  auth: any of: src/auth/, src/utils/encryption.py
  mutation: any of: src/
  Core Engine: any of: src/core/
  Configuration: any of: src/config/
  Utilities: any of: src/utils/
  Knowledge Ingestion: any of: src/ingestion/

fix(deps): Update dependency requests to v2.33.0 [SECURITY]
  poetry.lock
Due: none

chore: add pydoclint config and fix base_service docstrings
  .pre-commit-config.yaml
  pyproject.toml
  src/database/base_service.py
Due: python-3.11, python-3.12, unit, integration, performance, stress, mutation

docs: add pydoclint-compliant docstring type hints (utils, mcp_integration, core, security)
  src/core/ab_testing_framework.py
  src/core/anchor_qr_evaluator.py
  src/core/create_processor_core.py
  src/core/dynamic_loading_integration.py
  src/core/hyde_processor.py
  src/core/performance_optimizer.py
  src/core/query_counselor.py
  src/core/template_system_core.py
  src/core/vector_store.py
  src/core/zen_mcp_error_handling.py
  src/mcp_integration/config_manager.py
  src/mcp_integration/connection_bridge.py
  src/mcp_integration/mcp_client.py
  src/mcp_integration/mcp_orchestrator.py
  src/mcp_integration/model_registry.py
  src/mcp_integration/protocol_handler.py
  src/mcp_integration/tool_router.py
  src/mcp_integration/zen_stdio_client.py
  src/security/audit_logging.py
  src/security/error_handlers.py
  src/security/input_validation.py
  src/security/middleware.py
  src/security/rate_limiting.py
  src/utils/circuit_breaker.py
  src/utils/datetime_compat.py
  src/utils/encryption.py
  src/utils/logging_mixin.py
  src/utils/observability.py
  src/utils/performance_monitor.py
  src/utils/resilience.py
  src/utils/secure_random.py
  src/utils/setup_validator.py
  src/utils/time_utils.py
Due: python-3.11, python-3.12, Core Business Logic, Authentication & Security, Utility Modules, MCP Integration, unit, integration, performance, stress, auth, mutation, Core Engine, Utilities

docs: add pydoclint-compliant docstring type hints (mcp_integration clients, auth)
  src/auth/middleware.py
  src/auth/permissions.py
  src/auth/role_manager.py
  src/auth/service_token_manager.py
  src/mcp_integration/client.py
  src/mcp_integration/context7_integration.py
  src/mcp_integration/docker_mcp_client.py
  src/mcp_integration/hybrid_router.py
  src/mcp_integration/message_router.py
  src/mcp_integration/openrouter_client.py
  src/mcp_integration/parallel_executor.py
  src/mcp_integration/zen_client/client.py
  src/mcp_integration/zen_client/error_handler.py
  src/mcp_integration/zen_client/protocol_bridge.py
  src/mcp_integration/zen_client/subprocess_manager.py
Due: python-3.11, python-3.12, Authentication & Security, MCP Integration, unit, integration, performance, stress, auth, mutation

docs: add pydoclint-compliant docstring type hints (auth_simple)
  src/auth_simple/__init__.py
  src/auth_simple/cloudflare_auth.py
  src/auth_simple/config.py
  src/auth_simple/middleware.py
  src/auth_simple/whitelist.py
Due: python-3.11, python-3.12, unit, integration, performance, stress, mutation

docs: add pydoclint-compliant docstring type hints (auth remaining files)
  src/auth/__init__.py
  src/auth/config.py
  src/auth/exceptions.py
Due: python-3.11, python-3.12, Authentication & Security, unit, integration, performance, stress, auth, mutation

docs: add pydoclint-compliant docstring type hints (ui)
  src/ui/admin/tier_management_interface.py
  src/ui/components/shared/export_utils.py
  src/ui/journeys/journey1_smart_templates.py
  src/ui/journeys/journey2_intelligent_search.py
  src/ui/multi_journey_interface.py
Due: python-3.11, python-3.12, User Interface, unit, integration, performance, stress, mutation

docs: add pydoclint-compliant docstring type hints (agents, config, admin, automation, database, main)
  src/admin/user_tier_manager.py
  src/agents/base_agent.py
  src/agents/create_agent.py
  src/agents/exceptions.py
  src/agents/markdown_agent.py
  src/agents/models.py
  src/agents/registry.py
  src/automation/token_rotation_scheduler.py
  src/config/health.py
  src/config/settings.py
  src/config/validation.py
  src/database/connection.py
  src/main.py
  src/main_core.py
Due: python-3.11, python-3.12, Agent System, Configuration Management, unit, integration, performance, stress, mutation, Configuration

docs: add pydoclint-compliant docstring type hints (api routers, config settings, monitoring)
  src/api/routers/monitoring.py
  src/config/settings.py
  src/monitoring/service_token_monitor.py
Due: python-3.11, python-3.12, Configuration Management, API Layer, unit, integration, performance, stress, mutation, Configuration

docs: add pydoclint-compliant docstring type hints (api routers create_core and monitoring)
  src/api/routers/create_core.py
  src/api/routers/monitoring.py
Due: python-3.11, python-3.12, API Layer, unit, integration, performance, stress, mutation

ci: stub required-status-check workflows (#306)
  .github/workflows/ci-gate.yml
  .github/workflows/dependency-standards-validation.yml
Due: none

chore(mcp): add context7 and sonarqube MCP servers
  .mcp.json
Due: none

chore(mcp): add context7 and sonarqube MCP servers (#349)
  .mcp.json
Due: none

fix(deps): Update dependency transformers to v5.3.0 [SECURITY]
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
Due: none

docs(changelog): document uv migration and known regressions
  CHANGELOG.md
Due: none

chore(git): untrack runtime SQLite files already in .gitignore
  ab_testing.db
  analytics.db
  metrics.db
Due: none

ci: convert ui-testing-pipeline.yml from poetry to uv
  .github/workflows/ui-testing-pipeline.yml
Due: none

ci: convert ci.yml from poetry to uv
  .github/workflows/ci.yml
Due: none

ci: convert renovate-auto-merge and security-scan-summary to uv
  .github/workflows/renovate-auto-merge.yml
  .github/workflows/security-scan-summary.yml
Due: none

fix(deps): drop inert [tool.pytest.benchmark] for pytest 9 strict parser
  pyproject.toml
Due: none

ci: replace pr-validation poetry retry loop with uv lock --check
  .github/workflows/pr-validation.yml
Due: none

ci: align workflows with PR requirements and uv dependency groups
  .github/workflows/docs.yml
  .github/workflows/pr-validation.yml
  .github/workflows/python-compatibility.yml
Due: none

feat(docker): rewrite production Dockerfile to use uv export
  Dockerfile
Due: none

feat(make): convert Makefile targets from poetry to uv
  Makefile
Due: none

test: update noxfile and circuit-breaker assertions for migration
  tests/unit/test_circuit_breaker.py
  tests/unit/test_noxfile.py
Due: none

docs: complete uv migration documentation; remove black hook; add ADR-0001
  .claude/rules/pre-commit.md
  .claude/rules/python.md
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/architecture/ADR-0001-poetry-to-uv-migration.md
  docs/standards/linting.md
Due: none

fix(tests): finish poetry/black assertion sweep and remove rogue CR file
  src/core/vector_store.py 
  tests/unit/test_noxfile.py
  tests/unit/test_noxfile_coverage_gaps.py
Due: python-3.11, python-3.12, Core Business Logic, unit, integration, performance, stress, mutation, Core Engine

chore: complete poetry to uv migration in scripts and drop requirements*.txt
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
  scripts/check_deps.py
  scripts/claude_context7_integration.py
  scripts/coverage_automation/cli.py
  scripts/coverage_automation/renderer.py
  scripts/coverage_data_loader.py
  scripts/generate_requirements.sh
  scripts/migrate_datetime_usage.py
  scripts/quality_gates.py
  scripts/run_linting.sh
  scripts/schedule_manager.py
  scripts/setup-assured-oss-local.sh
  scripts/simplified_coverage_automation.py
  scripts/start-with-zen-mcp.sh
  scripts/validate_configuration.py
Due: none

feat(deps): bump 25 direct deps to current majors + carry PR #318 security pins
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docker.txt
  requirements.txt
Due: none

fix(lint): apply ruff format to 18 files flagged by Quality Checks CI
  scripts/homelab_performance_validation.py
  src/mcp_integration/hybrid_router.py
  tests/base/integration_test_base.py
  tests/conftest.py
  tests/conftest_backup.py
  tests/integration/test_auth_integration.py
  tests/integration/test_comprehensive_error_handling.py
  tests/integration/test_dynamic_loading_prototype.py
  tests/performance/test_auth_performance.py
  tests/performance/test_baseline_performance.py
  tests/performance/test_performance_requirements.py
  tests/performance/test_production_readiness.py
  tests/performance/test_ui_load_performance.py
  tests/unit/core/test_query_counselor_critical_gaps.py
  tests/unit/database/test_models.py
  tests/unit/test_docker_mcp_client_comprehensive.py
  tests/unit/test_dynamic_function_loader.py
  tests/unit/test_query_counselor_hyde_integration.py
Due: python-3.11, python-3.12, MCP Integration, unit, integration, performance, stress, mutation

feat(build): convert build backend from poetry-core to hatchling + generate uv.lock
  poetry.lock
  pyproject.toml
  uv.lock
Due: none

chore(claude): add JSON Schema URL to settings.json for editor validation
  .claude/settings.json
Due: none

ci: convert codespaces-prebuild.yml from poetry to uv
  .github/workflows/codespaces-prebuild.yml
Due: none

fix(tests): remaining test_noxfile_coverage_gaps assertions for uv path
  tests/unit/test_noxfile_coverage_gaps.py
Due: none

test: replace path coupling + timing race in unit tests
  tests/unit/scripts/test_validate_gradio_integration.py
  tests/unit/test_circuit_breaker.py
Due: none

feat(pre-commit): convert hooks from poetry run to uv run --frozen
  .pre-commit-config.yaml
Due: none

chore(git): ignore .worktrees/ and generated api/ output
  .gitignore
Due: none

fix(types): cast handler result to CommandResult for mypy 2 strict inference
  src/core/claude_integration.py
Due: python-3.11, python-3.12, Core Business Logic, unit, integration, performance, stress, mutation, Core Engine

ci: delete unused setup-assured-oss.yml reusable workflow
  .github/workflows/setup-assured-oss.yml
Due: none
