Repository williaby/PromptCraft: changes, and which Codecov flags are due for each by the changed paths.
All: unit, auth, integration, Core Business Logic, Agent System, Authentication & Security, Configuration Management, Utility Modules, User Interface, API Layer, MCP Integration, performance, stress, mutation, Core Engine, Configuration, Utilities, Knowledge Ingestion

Update .semgrep.yml
  .semgrep.yml
Due: none

fix: clean up Semgrep configuration with proper formatting
  .semgrep.yml
  .semgrepignore
Due: none

fix: configure dependency-review workflow to run on all PRs
  .github/workflows/dependency-review.yml
Due: none

security: integrate Semgrep fixes for SQL injection and false positives (#229)
  .github/workflows/dependency-review.yml
  .semgrep.yml
  .semgrepignore
  scripts/migration_validator.py
  scripts/sqlite_to_postgresql_analysis.py
  src/core/hyde_processor.py
Due: unit, auth, integration, Core Business Logic, performance, stress, mutation, Core Engine

feat: complete Phase 1 foundation analysis and validation testing
  tests/integration/test_working_validation.py
Due: none

fix: resolve Codecov 'Multiple flags detected' issue
  .github/workflows/ci.yml
  codecov.yaml
Due: none

security: add .env.dev and .env.prod to gitignore
  .env.dev
  .gitignore
Due: none

test: fix 12 failing unit tests for admin and MultiJourneyInterface
  tests/unit/admin/test_tier_management_interface.py
  tests/unit/admin/test_user_tier_manager.py
  tests/unit/ui/journeys/test_journey2_intelligent_search.py
  tests/unit/ui/test_multi_journey_interface_enhanced_coverage.py
  tests/unit/ui/test_multi_journey_interface_enhanced_coverage_final.py
  tests/unit/ui/test_multi_journey_interface_functional.py
Due: none

feat: implement Phase 1 UI/UX modernization improvements
  PERFORMANCE_EVALUATION_REPORT.md
  data/promptcraft/channel_config.json
  data/promptcraft/experimental_models.json
  data/promptcraft/graduation_queue.json
  data/promptcraft/performance_metrics.json
  debug_admin_tab.py
  inspect_admin_tab.py
  launch_admin.py
  playwright.config.ts
  src/mcp_integration/models.py
  src/mcp_integration/zen_client/__init__.py
  src/mcp_integration/zen_client/client.py
  src/mcp_integration/zen_client/error_handler.py
  src/mcp_integration/zen_client/models.py
  src/mcp_integration/zen_client/protocol_bridge.py
  src/mcp_integration/zen_client/subprocess_manager.py
  src/mcp_integration/zen_stdio_client.py
  src/ui/journeys/journey2_intelligent_search.py
  src/ui/multi_journey_interface.py
  test-results/.last-run.json
  test-results/screenshots/app-launch-success-1757115051672.png
  test_mcp_integration.py
  tests/e2e/README.md
  tests/e2e/data/files/config-sample.json
  tests/e2e/data/files/large-content.txt
  tests/e2e/data/files/sample-data.csv
  tests/e2e/data/files/simple-text.txt
  tests/e2e/data/files/test-document.md
  tests/e2e/data/malicious/fake-text-with-script.txt
  tests/e2e/data/malicious/oversized-file.txt
  tests/e2e/fixtures/BasePage.ts
  tests/e2e/fixtures/Journey1Page.ts
  tests/e2e/fixtures/global-setup.ts
  tests/e2e/fixtures/global-teardown.ts
  tests/e2e/helpers/test-utils.ts
  tests/e2e/journeys/test-journey1-smart-templates.spec.ts
  tests/e2e/test-api-integration.spec.ts
  tests/e2e/test-app-launch.spec.ts
  tests/e2e/test-performance.spec.ts
  tests/e2e/test-security.spec.ts
Due: unit, auth, integration, User Interface, MCP Integration, performance, stress, mutation

refactor: remove obsolete debug and test files
  debug_admin_tab.py
  inspect_admin_tab.py
  test_mcp_integration.py
Due: none

feat: implement specialized agent system with hybrid architecture
  src/agents/analysis_agent.py
  src/agents/code_reviewer_agent.py
  src/agents/debug_investigator_agent.py
  src/agents/deep_thinking_agent.py
  src/agents/documentation_writer_agent.py
  src/agents/refactor_specialist_agent.py
  src/agents/security_auditor_agent.py
  src/agents/task_integration.py
  src/agents/zen_agent_base.py
Due: unit, auth, integration, Agent System, performance, stress, mutation

feat: add Response-Aware Development (RAD) tooling system
  scripts/rad_ai_verifier.py
  scripts/rad_fix_applier.py
  scripts/verify-assumptions-smart.py
  scripts/verify-assumptions-smart.sh
  src/core/anchor_qr_evaluator.py
  verify-assumptions-smart
Due: unit, auth, integration, Core Business Logic, performance, stress, mutation, Core Engine

test: expand test coverage with comprehensive unit and integration tests
  test_hybrid_poc.py
  test_hybrid_simple.py
  test_security_agent_isolated.py
  test_zen_task_integration.py
  tests/unit/agents/test_analysis_agent.py
  tests/unit/agents/test_deep_thinking_agent.py
  tests/unit/auth/test_middleware_security.py
  tests/unit/auth/test_permissions_system.py
  tests/unit/test_launch_admin.py
  zen_agent_simulator.py
Due: none

build: update project configuration and knowledge base
  .coveragerc
  knowledge/create_agent/tmp_claude_summary.md
  knowledge/create_agent/tmp_gemini_summary.md
Due: none

build: update databases and VSCode configuration
  analytics.db
  metrics.db
Due: none

build: update project configuration files
  .coveragerc
  .gitignore
  .vscode/settings.json
  package.json
  playwright.config.ts
  pyproject.toml
Due: none

refactor: cleanup legacy agent system architecture
  src/agents/__init__.py
  src/agents/analysis_agent.py
  src/agents/code_reviewer_agent.py
  src/agents/debug_investigator_agent.py
  src/agents/deep_thinking_agent.py
  src/agents/documentation_writer_agent.py
  src/agents/examples/__init__.py
  src/agents/examples/text_processor_agent.py
  src/agents/qwen_test_engineer_agent.py
  src/agents/refactor_specialist_agent.py
  src/agents/registry.py 
  src/agents/security_auditor_agent.py
  src/agents/task_integration.py
  src/agents/test_engineering_agent.py
  src/agents/zen_agent_base.py
Due: unit, auth, integration, Agent System, performance, stress, mutation

feat: update core application services and databases
  ab_testing.db
  analytics.db
  metrics.db
  src/auth_simple/whitelist.py
  src/automation/token_rotation_scheduler.py
  src/config/settings.py
  src/metrics/events.py
  src/metrics/storage.py
Due: unit, auth, integration, Configuration Management, performance, stress, mutation, Configuration

test: update test suite with enhanced fixtures and integrations
  test-results/.last-run.json
  tests/e2e/fixtures/BasePage.ts
  tests/e2e/fixtures/Journey1Page.ts
  tests/integration/test_user_tier_integration.py
  tests/unit/test_launch_admin.py
  tests/unit/ui/journeys/test_journey2_intelligent_search.py
Due: none

docs: add comprehensive testing reports and service token manager fixes
  FINAL_COMPREHENSIVE_TESTING_REPORT.md
  SOLUTION_ServiceTokenManager_Fix.md
  ServiceTokenManager_Complete_Fix_Guide.md
  VERIFICATION_ServiceTokenManager_Fix_Applied.md
  docs/testing/API_INTEGRATION_TESTING_INSTRUCTIONS.md
  docs/testing/remaining-testing-gaps-analysis.md
  docs/testing/ui-testing-completion-report.md
  docs/testing/ui-testing-execution-guide.md
  docs/testing/ui-testing-strategy.md
  docs/testing/week1-findings.md
Due: none

test: add comprehensive test suites and CI/CD pipeline
  .github/workflows/ui-testing-pipeline.yml
  playwright-report/index.html
  playwright.config.minimal.ts
  test_fix_verification.py
  test_zen_client_quick.py
  tests/e2e/actual-journey1-test.spec.ts
  tests/e2e/basic-connectivity.spec.ts
  tests/e2e/enhanced-mobile-journey1.spec.ts
  tests/e2e/helpers/test-data-generator.ts
  tests/e2e/journey1-create-framework-semantic.spec.ts
  tests/e2e/journey1-file-upload-security.spec.ts
  tests/e2e/journey1-performance-benchmarking.spec.ts
  tests/e2e/journey1-visual-regression.spec.ts
  tests/e2e/journeys/test-journey1-advanced-workflows.spec.ts
  tests/e2e/journeys/test-journey1-auth-boundary.spec.ts
  tests/e2e/journeys/test-journey1-create-framework.spec.ts
  tests/e2e/journeys/test-journey1-create-semantic.spec.ts
  tests/e2e/journeys/test-journey1-cross-browser.spec.ts
  tests/e2e/journeys/test-journey1-data-integrity.spec.ts
  tests/e2e/journeys/test-journey1-file-upload-robust.spec.ts
  tests/e2e/journeys/test-journey1-performance.spec.ts
  tests/e2e/test-locators-verification.spec.ts
  tests/e2e/working-connectivity.spec.ts
  tests/e2e/working-journey1-smoke.spec.ts
  tests/unit/auth/test_init_comprehensive.py
  tests/unit/auth/test_middleware.py
  tests/unit/automation/test_token_rotation_scheduler_original.py.disabled
  tests/unit/automation/test_token_rotation_scheduler_placeholder.py
  tests/unit/core/test_anchor_qr_evaluator.py
  tests/unit/database/test_base_service_comprehensive.py
  tests/unit/mcp_integration/__init__.py
  tests/unit/mcp_integration/zen_client/__init__.py
  tests/unit/mcp_integration/zen_client/conftest.py
  tests/unit/mcp_integration/zen_client/test_client.py
  tests/unit/mcp_integration/zen_client/test_error_handler.py
  tests/unit/mcp_integration/zen_client/test_protocol_bridge.py
  tests/unit/mcp_integration/zen_client/test_subprocess_manager.py
  tests/unit/metrics/test_collector.py
  tests/unit/metrics/test_storage.py
Due: none

refactor: complete system modernization and cleanup
  src/auth/middleware.py
  src/mcp_integration/zen_client/client.py
  test-results/screenshots/app-launch-success-1757115051672.png
  tests/integration/test_agent_lifecycle.py
  tests/unit/agents/__init__.py
  tests/unit/agents/examples/__init__.py
  tests/unit/agents/examples/test_text_processor_agent.py
  tests/unit/agents/test_analysis_agent.py
  tests/unit/agents/test_create_agent.py
  tests/unit/agents/test_deep_thinking_agent.py
  tests/unit/agents/test_exceptions_coverage_gaps.py
  tests/unit/agents/test_qwen_test_engineer_agent.py
  tests/unit/agents/test_test_engineering_agent.py
  tests/unit/auth_simple/test_cloudflare_auth.py
  tests/unit/auth_simple/test_init.py
  tests/unit/auth_simple/test_middleware_comprehensive.py
  tests/unit/automation/test_token_rotation_scheduler.py
  tests/unit/automation/test_token_rotation_scheduler_fixed.py
  tests/unit/test_agent_models.py
  tests/unit/test_agent_performance.py
  tests/unit/test_agent_registry.py
  tests/unit/test_base_agent.py
  tests/unit/test_base_agent_comprehensive.py
Due: unit, auth, integration, Authentication & Security, MCP Integration, performance, stress, mutation

style: apply final code formatting and whitespace fixes
  src/mcp_integration/zen_client/client.py
  tests/unit/auth/test_middleware.py
  tests/unit/auth_simple/test_cloudflare_auth.py
  tests/unit/auth_simple/test_middleware_comprehensive.py
Due: unit, auth, integration, MCP Integration, performance, stress, mutation

chore: remove temporary test and verification scripts
  test_fix_verification.py
  test_hybrid_poc.py
  test_hybrid_simple.py
  test_security_agent_isolated.py
  test_zen_client_quick.py
  test_zen_task_integration.py
  zen_agent_simulator.py
Due: none

fix: resolve auth_simple test module state contamination for CI
  tests/unit/auth_simple/test_example_usage.py
Due: none

fix: resolve asyncio event loop errors in MCP integration tests
  tests/unit/mcp_integration/test_protocol_handler.py
Due: none

fix: resolve metrics collector singleton pattern test contamination
  tests/unit/metrics/test_collector.py
Due: none

chore(deps): regenerate poetry.lock for consistency
  poetry.lock
Due: none

security: prevent .env files with secrets from being committed
  .gitignore
Due: none

feat: complete Phase 1 foundation analysis and validation testing (#230)
  tests/integration/test_working_validation.py
Due: none

Feature/phase 1 development (#179)
  src/main.py
  src/utils/performance_monitor.py
  tests/unit/test_performance_monitor.py
  tests/unit/test_security_hardening.py
Due: unit, auth, integration, Utility Modules, performance, stress, mutation, Utilities

Path conditions:
  unit: any of: src/
  auth: (any of: src/) or (any of: src/auth/, src/utils/encryption.py)
  integration: any of: src/
  Core Business Logic: any of: src/core/
  Agent System: any of: src/agents/
  Authentication & Security: (any of: src/auth/, src/security/) or (any of: src/auth/)
  Configuration Management: any of: src/config/
  Utility Modules: any of: src/utils/
  User Interface: any of: src/ui/
  API Layer: any of: src/api/
  MCP Integration: any of: src/mcp_integration/
  performance: any of: src/
  stress: any of: src/
  mutation: any of: src/
  Core Engine: any of: src/core/
  Configuration: any of: src/config/
  Utilities: any of: src/utils/
  Knowledge Ingestion: any of: src/ingestion/
